<div class="header-img">
  <div class="img-container">
    <img src="assets/images/header/app.svg" alt="Map" />
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
    <div class="Pin-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
