<section class="hero-area">
  <div class="container">
    <div class="row mt-4 mb-5">
      <div class="col-lg-5">
        <div class="hero-content">
          <h5>
            <span class="text-primary wow slideInLeft" data-wow-delay="0.4s">RSocks Project</span>
          </h5>
          <h3>
            <span>Professional Solutions</span>
            <span>for providing</span>
            <span>&nbsp;a personal</span>
            <span>&nbsp;Privacy</span>
          </h3>
          <div class="mt-5 button d-flex flex-sm-row flex-column gap-3 align-items-center">
            <a href="#"
              class="btn btn-primary fs-16 fw-500 border bg-transparent hov-bg-primary hov-text-dark rounded-0 text-capitalize">Register
              now</a>
            <span> and try for free</span>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-sm-block d-none">
        <xvpn-slider-img></xvpn-slider-img>
      </div>
    </div>
  </div>
</section>
