.header-bg,
.header-bg::after,
.header-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-slider,
h2 {
  color: var(--light);
}
* {
  font-family: var(--font-family-Waoow);
}
h2 {
  font-size: 38px;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}
.header-bg {
  background: #122839;
}
.header-bg::after,
.header-bg::before {
  content: " ";
  background-repeat: no-repeat;
}
.header-slider,
.header-slider .btn {
  position: relative;
}
.header-bg::after {
  background-image: url(../../../assets/images/header/bg-2.png);
}
.header-bg::before {
  background-image: url(../../../assets/images/header/bg.png);
}
.slider-map {
  background: url(../../../assets/images/white_label/header/maps_beta2.svg) 50%
    50% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-slider {
  background-color: var(--secondary);
  padding: 9rem 0 4rem;
  overflow: hidden;
}
.header-slider .main__circle {
  top: -98px;
  right: calc(50% - 1180px);
  width: 1000px;
  height: 1000px;
  background: var(--primary);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.header-slider .slider-content .list {
  font-size: 0.9rem;
  margin-left: 3rem;
}
.header-slider .main__circle2 {
  right: calc(50% - 270px);
  bottom: -75px;
  z-index: 2;
  width: 150px;
  height: 150px;
  background: #fab8c4;
  position: absolute;
  border-radius: 50%;
}
.header-slider .main__circle3 {
  top: -180px;
  left: -180px;
  width: 350px;
  height: 350px;
  background: var(--primary);
  position: absolute;
  border-radius: 50%;
}
.header-slider .main__circle4 {
  top: 44%;
  left: 30px;
  width: 48px;
  height: 48px;
  background: #fab8c4;
  position: absolute;
  border-radius: 50%;
}
.header-slider .app-image {
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0 0 30px #0000000f;
  box-shadow: 0 0 30px #0000000f;
  z-index: 4;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px),
  only screen and (min-width: 1400px) {
  .header-slider .app-image {
    margin-left: 20px;
  }
}
.header-slider .app-image .image-bg-shape {
  top: -45px;
  left: -45px;
  width: 110px;
  height: 110px;
  background: #fab8c4;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .header-slider .app-image .image-bg-shape,
  .header-slider .main__circle,
  .header-slider .main__circle2,
  .header-slider .main__circle3,
  .header-slider .main__circle4 {
    display: none;
  }
}
.header-slider .shape-1 {
  position: absolute;
  width: 520px;
  height: 520px;
  left: -184.03px;
  top: -1.4px;
}
.header-slider .shape-1 img,
.header-slider .shape-2 img,
.header-slider .shape-3 img {
  width: 100%;
  height: 100%;
  display: block;
}
.header-slider .shape-2 {
  position: absolute;
  width: 665px;
  height: 665px;
  right: -126px;
  top: -66px;
}
.header-slider .shape-3 {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -50%;
}
.header-slider .slider-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}
.header-slider .slider-content h1,
.header-slider .slider-content h3 {
  font-weight: 700;
  line-height: 53px;
  color: #eee;
  text-transform: capitalize;
  overflow: hidden;
}
.header-slider .slider-content h3 {
  font-size: 27px;
  height: 10rem;
}
.header-slider .slider-content h5 {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary);
  margin: 0 0 15px;
}
.header-slider .slider-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #eee;
  margin: 28px 0;
}
.header-slider .button + span {
  display: inline-block;
  margin: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-slider .slider-content h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-slider {
    padding: 130px 0 70px;
  }
  .header-slider .app-image {
    margin-top: 60px;
  }
  .header-slider .slider-content .button {
    margin-top: 10px !important;
    width: 100%;
  }
  .header-slider .slider-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }
  .header-slider .slider-content p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header-slider {
    padding: 110px 0 60px;
  }
  .header-slider .app-image {
    margin-top: 40px;
  }
  .header-slider .slider-content .button {
    margin-top: 10px;
    width: 100%;
  }
  .header-slider .slider-content {
    padding: 0 10px;
  }
  .header-slider .slider-content h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .header-slider .slider-content p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
  }
}
.fade-in {
  opacity: 0;
  animation: 1s ease-in-out both fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-slider .personal-silder .slider-content h1 {
  margin-bottom: 2rem;
}
.header-slider .personal-silder .slider-content ul {
  color: #eee;
  font-size: 1.2rem;
  font-weight: 600;
}
.header-slider .personal-silder .slider-content ul span.icon-sm {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.header-slider .personal-silder .slider-content ul li {
  display: flex;
  margin-bottom: 1.5rem;
}
