<section class="header-slider">
  <div class="container">
    <div *ngIf="routerLinkActive === 'Home'" class="row mt-4 mb-5">
      <div class="col-lg-5">
        <div class="slider-content">
          <h5>
            <span *ngIf="showText" class="fade-in">RSocks Project</span>
          </h5>
          <h3>
            <span *ngIf="showText1" class="fade-in">Professional Solutions</span>
            <span *ngIf="showText2" class="fade-in">for providing</span>
            <span *ngIf="showText3" class="fade-in">&nbsp;a personal</span>
            <span *ngIf="showText4" class="fade-in">&nbsp;Privacy</span>
          </h3>
          <div class="fade-in button d-flex flex-sm-row flex-column gap-3 align-items-center">
            <a href="#"
              class="fade-in btn btn-primary fs-16 fw-500 border bg-transparent hov-bg-primary hov-text-dark rounded-0 text-capitalize">Register
              now</a>
            <span> and try for free</span>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-sm-block d-none">
        <xvpn-slider-img></xvpn-slider-img>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'FAQ'" class="row pt-5">
      <div class="col-lg-12">
        <div class="slider-content text-center h-140px">
          <h1>
            <span *ngIf="showText1" class="fade-in">FAQ</span>
          </h1>
          <p *ngIf="showText2" class="fade-in">
            For your convenience we’ve collected here answers to the most popular questions from our customers.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'About-Us'" class="row pt-5">
      <div class="col-lg-12">
        <div class="slider-content text-center h-140px">
          <h1>
            <span *ngIf="showText1" class="fade-in">About Us</span>
          </h1>
          <p *ngIf="showText2" class="fade-in">
            Our team created project that became the top level Proxy Service in just 1 year.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'Contact-Us'" class="row pt-5">
      <div class="col-lg-12">
        <div class="slider-content text-center h-140px">
          <h1>
            <span *ngIf="showText1" class="fade-in">Contacts</span>
          </h1>
          <p *ngIf="showText2" class="fade-in">
            We’re always in touch!
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'White-Label'" class="row pt-5">
      <div class="col-xl-7">
        <div class="slider-content h-140px">
          <h1 class="text-start">
            <span *ngIf="showText1" class="text-primary fade-in">white label</span>
          </h1>
          <p *ngIf="showText2" class="text-start fade-in">We offer you the opportunity to quickly
            start a business selling our proxy services under your own brand using the White Label
            model.</p>
        </div>
      </div>
      <div class="col-xl-5 d-sm-block d-none">
        <div class="slider-content slider-map">
          <div class="img-box">
            <img src="assets/images/white_label/header/head_whitelabel.png" alt="head_whitelabel">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'VPN-Service'" class="row mt-4 mb-5">
      <div class="col-lg-6">
        <div class="slider-content">
          <h5>
            <span *ngIf="showText" class="fade-in">RSocks Project</span>
          </h5>
          <h2 class="mb-3"><span *ngIf="showText1" class="fade-in">Reliable VPN Service by RSocks</span></h2>
          <ul class="list-disc list">
            <li *ngIf="showText2" class="fade-in">Total security of the data</li>
            <li *ngIf="showText3" class="fade-in">Unlimited bandwidth</li>
            <li *ngIf="showText4" class="fade-in">Support service 24/7</li>
            <li *ngIf="showText5" class="fade-in">Apps for every major platform</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center header-img">
        <div class="img-container">
          <img src="assets/images/vpn/Map picks.png" alt="shared">
        </div>
      </div>
    </div>
  </div>
</section>
