<section class="faq p-3">
  <div class="container">
    <div class="row my-4">
      <div class="col-md-8">
        <div class="openable" *ngFor="let question of questions">
          <h6 (click)="openDivPlus($event)" class="d-flex align-items-center">
            <div class="icon-md">
              <span class="toggler-icon r-90 plus"></span>
              <span class="toggler-icon minus"></span>
            </div>
            <span>{{question.question}}</span>
          </h6>
          <p>
            {{question.answer}}
          </p>
          <p *ngIf="question.isAnswer1">
            {{question.answer1}}
          </p>
          <a *ngIf="question.isLink" href="https://alpha-x.net/proxy-checker">
            {{question.link}}
          </a>
          <table *ngIf="question.isTable" class="table table-borderless">
            <tr>
              <td>HOST:</td>
              <td>{{question.host}}</td>
            </tr>
            <tr>
              <td>PORT:</td>
              <td>{{question.port}}</td>
            </tr>
            <tr>
              <td>Threads:</td>
              <td>{{question.threads}}</td>
            </tr>
            <tr>
              <td>Timeout:</td>
              <td>{{question.timeout}}</td>
            </tr>
            <tr>
              <td>ReConnect:</td>
              <td>{{question.reConnect}}</td>
            </tr>
          </table>
          <a *ngIf="question.isButton" href="#" class="btn btn-primary text-black  mt-1">
            {{question.buttonName}}
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="notification p-5 text-center">
          <p>
            Did not find an answer?
          </p>
          <a href="#" class="btn">Ask a question</a>
        </div>
      </div>
    </div>
  </div>
</section>
