.questions {
  color: var(--secondary);
  background-color: var(--tertiary);
}

.questions h4 {
  text-align: center;
  color: var(--secondary);
  margin: 0;
  margin-bottom: 0.9rem;
}

.openable a {
    margin-left: 3rem;
}

.openable .icon {
  position: relative;

}

.openable .icon .toggler-icon {
  position: absolute;
  width: 2rem;
  height: 0.5rem;
  background-color: var(--primary);
  display: block;
  bottom: -0.3rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.openable h6 {
  width: fit-content;
}

.openable p {
  margin-left: 3rem;
}

.openable .btn {
  border-radius: 3px;
}

.openable table {
  width: 40%;
  margin-left: 3rem;
  font-size: 0.8rem;
  margin-bottom: 0rem;
}

.openable table tr td{
  padding: 0.7rem;
}
