<xvpn-offered-services></xvpn-offered-services>
<section class="vpn-service py-5">
  <div class="container">
    <div class="row">
      <h4 class="line-after mb-4">
        <span>VPN service</span>
      </h4>
      <div class="col-md-7 px-3 mb-3">
        <p>
          VPN - is integral tool of user, which provide safety and anonymity for network connection
        </p>
        <p class="fw-bold">
          Rsocks VPN supports these protocols: OpenVPN, PPTP, HTTP Proxy, IPsec.
        </p>
        <p>
          Understanding the importance of security for our customers, RSocks launches its own VPN service
          with high speed of encrypted connection and guaranteed security of the data, which is extremely
          important for our demanding audience.
        </p>
      </div>
      <div class="col-lg-5" >
        <xvpn-pricing-card ></xvpn-pricing-card>
      </div>
    </div>
  </div>
</section>
