.vpn-service {
  background-color: var(--light);
}

.vpn-service p {
  font-weight: normal;
  font-size: medium;
}

.vpn-service .vpn-period {
  overflow: hidden;
}

.vpn-service .vpn-period-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--secondary);
}

.vpn-service .vpn-period .period-counteis {
  background: url(../../assets/images/vpn/vpn_service/Test_period.png) no-repeat;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  color: var(--white);
}

.proxy-checker .btn {
  padding: 0.5rem 4rem;
}

.proxy-checker .os-list {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.proxy-checker .os-list a:hover,
.proxy-checker .os-list a:hover .font-icon {
  color: var(--primary);
  border-color: var(--primary);
}

.proxy-checker .os-list .font-icon {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--dark);
  border-radius: 50%;
}
