.vpn-service {
  background-color: var(--light);
}

.vpn-service p {
  font-weight: normal;
  font-size: medium;
}

.vpn-service .vpn-period {
  overflow: hidden;
}

.vpn-service .vpn-period-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--secondary);
}

.vpn-service .vpn-period .period-counteis {
  background: url(../../assets/images/vpn/vpn_service/Test_period.png) no-repeat;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  color: var(--white);
}
