<xvpn-preloader></xvpn-preloader>
<xvpn-offered-services></xvpn-offered-services>
<section class="vpn-service">
  <div class="container">
    <div class="row">
      <h4 class="line-after text-dark fw-600 mb-4">
        VPN service
      </h4>
      <div class="col-lg-7 px-3">
        <p>
          VPN - is integral tool of user, which provide safety and anonymity for network connection
        </p>
        <p class="fw-600 text-dark">
          Alpha-x VPN supports these protocols: OpenVPN, PPTP, HTTP Proxy, IPsec.
        </p>
        <p>
          Understanding the importance of security for our customers, Alpha-x launches its own VPN service
          with high speed of encrypted connection and guaranteed security of the data, which is extremely
          important for our demanding audience.
        </p>
      </div>
      <div class="col-lg-5">
        <div class="vpn-period rounded box p-0 mx-auto mx-lg-0" *ngFor="let vpnPeriod of vpnPeriods">
          <div class="vpn-period-header">
            <div class="d-flex flex-column">
              <h5 class="text-light">{{vpnPeriod.name}}</h5>
              <span class="text-soft-dark fs-16">{{vpnPeriod.description}}</span>
            </div>
            <a class="btn btn-primary fs-16">{{vpnPeriod.button}}</a>
          </div>
          <div class="period-counteis">
            <span>{{vpnPeriod.counteis[0]}}</span>
            <span>{{vpnPeriod.counteis[1]}}</span>
            <span>{{vpnPeriod.counteis[2]}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="price-vpn">
  <div class="container">
    <div class="row">
      <h4 class="line-after">
        <span>Price of VPN</span>
      </h4>
      <div class="col-md-12 py-2">
        <xvpn-vpn-price [inputLists]="vpnPrices"></xvpn-vpn-price>
      </div>
    </div>
  </div>
</section>
<section class="additional-encryption mb-5">
  <div class="container">
    <div class="row">
      <h4 class="line-after mb-4">
        Additional encryption
      </h4>
      <div class="col-md-12">
        <div *ngFor="let item of this.vpnPrices" class="d-flex mt-4 gap-3 justify-content-between align-items-start">
          <div class="w-100px">
            <img src="assets/images/vpn/Price_VPN/{{item.image}}.svg" alt="{{item.name}}">
          </div>
          <div class="d-flex gap-1 flex-column flex-basis-85">
            <h5>
              {{item.title}}
              <span class="fs-14 fw-400 opacity-70">{{item.descName}}</span>
            </h5>
            <p>
              {{item.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="one-decision">
  <div class="container">
    <div class="row py-3">
      <h4 class="mb-4">
        One decision for all platforms
      </h4>
      <div class="col-12 col-lg-7">
        <div class="row">
          <div *ngFor="let platform of this.platforms" class="col-4 mt-4">
            <a class="d-flex align-items-center gap-1" href="">
              <div class="icon transition-4">
                <img src="assets/images/vpn/platforms/{{platform.icon}}.svg" alt="{{platform.name}}">
              </div>
              <div class="d-flex flex-column">
                <span class="platform-name">{{platform.name}}</span>
                <span class="platform-version">ver {{platform.version}}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-none d-lg-block position-relative">
        <div class="img-box">
          <img src="assets/images/vpn/platforms-back.png" alt="platforms back">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="vpn-features">
  <div class="container">
    <div class="row">
      <h4 class="line-after mb-4">
        VPN from Alpha-x - the best choice
      </h4>
      <div class="col-md-12">
        <div class="row">
          <div *ngFor="let feature of this.features" class="col-sm-6 col-lg-4 mt-4">
            <div class="d-flex align-items-start gap-3">
              <div class="icon-xl">
                <img src="assets/images/vpn/features/{{feature.icon}}.png" alt="{{feature.name}}">
              </div>
              <div class="d-flex flex-column gap">
                <h6>{{feature.name}}</h6>
                <p>{{feature.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
