<xvpn-preloader *ngIf="!intiated"></xvpn-preloader>
<section class="contact-us h-450px h-lg-500px">
  <div class="contacts">
    <div class="container">
      <div class="row pb-5">
        <div class="col-sm-5 d-none d-sm-block px-5 pb-0 contacts-list">
          <div class="content">
            <span class="font-icon">
              <i class="fa-solid fa-envelope fa-xl"></i>
            </span>
            <div class="content-box">
              <label>
                EMAIL:
              </label>
              <a href="#">
                support&#64;alpha-x.net
              </a>
            </div>
          </div>
          <div class="content">
            <span class="font-icon">
              <i class="fa-brands fa-telegram fa-xl"></i>
            </span>
            <div class="content-box">
              <label>
                TELEGRAM:
              </label>
              <a href="#">
                &#64;alpha-x_bot
              </a>
            </div>
          </div>
          <div class="content highlight">
            <span class="font-icon">
              <i class="fa-solid fa-comments fa-xl"></i>
            </span>
            <div class="content-box">
              <label>
                WeChat:
              </label>
              <span class="fw-bold">
                rsnew2team
              </span>
            </div>
            <h4 class="c-lt position-relative ms-auto fw-light">合作问题</h4>
          </div>
          <div class="content">
            <span class="font-icon">
              <i class="fa-solid fa-phone fa-xl"></i>
            </span>
            <div class="content-box">
              <label>
                PHONE:
              </label>
              <span class="fw-bold">
                +1 518 555 0176
              </span>
            </div>
          </div>
        </div>
        <div class="col-sm-7 px-5 pb-0 contacts-feedback">
          <h4>Contact Us</h4>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>
                  <label class="control-label col-md-3" for="contact-name">Name</label>
                </td>
                <td>
                  <input type="text" id="contact-name" class="form-control" name="Contact[name]" aria-required="true"
                    aria-invalid="true">
                  <p class="help-block help-block-error ">Name cannot be blank.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="control-label col-md-3" for="contact-email">Email</label>
                </td>
                <td>
                  <input type="text" id="contact-email" class="form-control" name="Contact[email]" aria-required="true"
                    aria-invalid="true">
                  <p class="help-block help-block-error ">Email cannot be blank.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label class="control-label col-md-3" for="contact-text">Message</label>
                </td>
                <td>
                  <textarea id="contact-text" class="form-control" name="Contact[text]" rows="6"
                    aria-required="true"></textarea>
                  <p class="help-block help-block-error "></p>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                  <a class="btn btn-primary">Submite</a>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
