<section class="about-us py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-md-12 my-2">
        <h4 class="line-after mt-0"><span>Professional solutions for providing a personal privacy</span></h4>
      </div>
      <div class="col-lg-8 my-2 text-secondary">
        <p class="text-secondary">
          Alpha-x project was founded and develops now by professional team who know needs of customers
          more than anyone else. We created this service for our needs: comfortable work with e-mail
          marketing, mass registrations in social networks and other matters where we needed to use
          reliable and fast proxies.
        </p>
        <p class="text-secondary">
          Since 2016, our services are available to you. In less than a year we became leaders of the
          rental proxy market and we still continue to improve!
        </p>
        <p class="text-secondary">
          We want our customers to be able to use our* proxies with any kind of special software. That’s
          why we are always in touch with software developers.
        </p>
        <p class="text-secondary">
          We appreciate new ideas and offers. And we will try to realize them ASAP. <a href="contact.us.html"> Contact
            us </a> if you have
          something to say!
        </p>
        <p class="text-secondary">
          *Alpha-x.net service is an intermediary between the client (the buyer) and the proxy provider.
        </p>
        <hr />
        <div class="my-4">
          <span class="icon-xl me-2">
            <img src="assets/images/about us/wm_accept.png" alt="wm_accept">
          </span>
          <span class="icon-xl">
            <img src="assets/images/about us/wm_accept.png" alt="wm_accept">
          </span>
        </div>
        <span><span class="fw-bold">WMID:</span> 551355763999</span>
      </div>
      <div class="col-lg-4 my-2 text-end">
        <div class="img-box-lg">
          <img src="assets/images/about us/logo_aside.png" alt="logo_aside">
        </div>
      </div>
    </div>
  </div>
</section>
