.offered-services {
  background-color: var(--hov-tertiary);
  color: var(--secondary);
  padding: 1rem 0;
  overflow: hidden;
  overflow-x: auto;
}

.offered-services a {
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem;
  min-height: 5rem;
  background-color: var(--hard-primary);
  color: var(--tertiary);
  border-radius: 1rem;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.offered-services a:hover {
  background-color: var(--primary);
  -webkit-transform: scale(1.1) translateZ(0);
  transform: scale(1.1) translateZ(0);
}

.offered-services a.active {
  background-color: var(--soft-primary);
  color: var(--hov-primary);
}

.offered-services a * {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.offered-services a:hover .icon {
  -moz-transition: all 0.1s ease !important;
  -webkit-transition: all 0.1s ease !important;
  transition: all 0.1s ease !important;
}

.offered-services {
  font-size: smaller;
  text-transform: capitalize;
}

.offered-services span.new {
  display: block;
  color: var(--white);
  width: 50%;
  text-align: center;
  padding: 1px;
  background-color: var(--success);
  border-radius: 3px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--success);
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--light-success);
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--success);
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--light-success);
  }
}
/*@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--success),
      0 0 40px var(--success), 0 0 50px var(--success), 0 0 60px var(--success), 0 0 70px var(--success);
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--light-success), 0 0 40px var(--light-success),
      0 0 50px var(--light-success), 0 0 60px var(--light-success), 0 0 70px var(--light-success), 0 0 80px var(--light-success);
  }
}*/
@media (max-width: 991px) {
}
