<section class="offered-services">
  <div class="container">
    <div class="d-lg-flex justify-content-between">
      <div *ngFor="let offeredService of offeredServices">
        <a class="d-flex align-items-center"  [routerLink]="[offeredService.link]" routerLinkActive="router-link-active">
          <div class="icon">
            <img [title]="offeredService.name" alt="{{offeredService.name}}" [src]="offeredService.imgUrl" />
          </div>
          <div>
            <span>{{offeredService.name}}</span>
            <span class="new" *ngIf="offeredService.isNew">New</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
