/** Buy Personal Proxy **/
.buy-service {
  background-color: var(--light-secondary);
}

.buy-service .head {
  background-color: #CFE3F1;
  color: var(--dark);
}

/* Style the tab */
.buy-service .head .tab {
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
}

.buy-service .head .tab .tablinks {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--light-secondary);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.15rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.3s;
  font-size: 17px;
  margin-right: 0.7rem;
  color: var(--dark);
  opacity: 0.5;
}

.buy-service .head .tab .tablinks.active {
  background-color: var(--light-secondary);
  opacity: 1;
}

/* Style the tab content */

.buy-service h1 {
  color: var(--dark);
}

.buy-service .content-box h4 {
  color: var(--dark);
}

.buy-service .title {
  background-color: var(--white);
  padding: 1rem;
}

.buy-countries-cities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 25px;
}

.buy-country-city {
  color: var(--dark);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 6px 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: left;
  border: none;
  border-radius: 3px;
  background: 0 0;
  margin-left: 1rem;
}

.buy-country-city.selected {
  color: var(--white);
  background-color: var(--hard-third);
  -webkit-box-shadow: 0 4px 8px var(--shadow-third);
  box-shadow: 0 4px 8px var(--shadow-third);
}

.buy-bill,
.buy-bill-private {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.buy-countries-list-item.--private > div {
  position: relative;
}

.buy-bill-item-label {
  font-size: 14px;
  font-weight: 400;
  margin-right: 15px;
  color: var(--hard-third);
}

label {
  font-weight: 700;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.buy-bill-item-period-button {
  margin: 0 15px 0 0;
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px\9;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.buy-bill-item-period-button input {
  display: none;
}

.buy-bill-item-period-button span {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  display: inline-block;
  width: 85px;
  height: 36px;
  padding: 8px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  border: 1px solid var(--notification);
  border-radius: 3px;
  background-color: var(--white);
}

.buy-bill-item-period-button input:checked + span {
  color: var(--white);
  background: var(--hard-third);
  -webkit-box-shadow: 0 4px 8px var(--shadow-third);
  box-shadow: 0 4px 8px var(--shadow-third);
}

.buy-bill-item-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buy-bill-item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buy-bill-item-count-container {
  position: relative;
  width: 130px;
}

.buy-bill-item-count input {
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  height: 36px;
  padding: 0 40%;
  padding-left: 3rem;
  text-align: center;
  border: 1px solid var(--notification);
  border-radius: 3px;
  outline: 0;
  background-color: var(--white);
}

.buy-bill-item-count input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.buy-bill-item-count input::-webkit-inner-spin-button,
.buy-bill-item-count input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buy-bill-item-count-btn,
.buy-bill-item-count-btn:active {
  font-size: 16px;
  position: absolute;
  top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  color: var(--white);
  border: none;
  border-radius: 2px;
  background-color: var(--hard-third);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.buy-bill-item-count-btn:hover {
  background-color: var(--hov-third);
}

.buy-bill-item-count-btn.--minus {
  left: 3px;
}

.buy-bill-item-count-btn.--plus {
  right: 3px;
}

.buy-bill-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buy-bill-total-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  width: 160px;
  height: 36px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: -webkit-linear-gradient(
    338.65deg,
    var(--primary) 22.94%,
    var(--light-primary) 60.23%
  );
  background: -o-linear-gradient(
    111deg,
    var(--light-primary) 22.94%,
    var(--primary) 75.23%
  );
  background: linear-gradient(
    111deg,
    var(--light-primary) 22.94%,
    var(--primary) 75.23%
  );
  text-shadow: 0 0 5px var(--primary-shadow);
}

.buy-countries-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
  grid-gap: 15px;
}

.buy-countries-list-item {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  padding: 14px 6px;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--notification);
  border-radius: 3px;
  background-color: var(--white);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buy-countries-list-item.selected {
  color: var(--white);
  border-color: var(--hard-third);
  background-color: var(--hard-third);
  -webkit-box-shadow: 0 4px 8px var(--shadow-third);
  box-shadow: 0 4px 8px var(--shadow-third);
}

.buy-countries-list-item-flag {
  display: block;
  width: auto;
  height: 26px;
  border: 0.5px solid var(--light);
  border-radius: 2px;
}

.selected .buy-countries-list-item-flag {
  border-color: var(--hard-third);
}

.buy-countries-list-item-name {
  color: var(--dark);
  font-weight: 700;
  overflow: hidden;
  max-width: 100%;
  margin-top: 10px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.selected .buy-countries-list-item-name {
  color: var(--white);
}

.buy-countries-list-item-price {
  line-height: 1;
  margin-top: 5px;
  color: var(--light-third);
}

.selected .buy-countries-list-item-price {
  color: var(--hov-light-third);
}

.buy-bill-total-btn span {
  color: var(--white);
}

.buy-bill {
  display: flex;
  border-radius: 3px;
  background-color: var(--white);
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.buy-bill-item.template {
  display: none;
}

.buy-bill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.buy-bill-item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buy-bill-item-name-flag {
  width: auto;
  height: 36px;
  margin-right: 10px;
  border-radius: 3px;
}

.buy-bill-item-name-text {
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  width: 100px;
  padding-right: 5px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.buy-service .title h4 {
  margin: 0;
}

.buy-service .search .textfield {
  color: var(--secondary);
  background-color: var(--white);
  padding: 0.5rem 1rem;
  font-weight: 600;
  border: 0.1rem solid var(--soft-black);
  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
}
