.tablinks {
  background-color: var(--tertiary);
  padding-top: 0;
}
.buy-bill-item-count input,
.buy-bill-item-radio-button span {
  font-size: 13px;
  height: 36px;
  font-weight: 600;
  background-color: var(--white);
}
.buy-bill-item-name-text,
.buy-countries-list-item-name {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.head {
  background-color: #cfe3f1;
  color: var(--secondary);
}
.tab {
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
}
.tablinks {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.15rem 0.15rem 0 0;
  transition: 0.3s;
  font-size: 17px;
  margin-right: 0.7rem;
  color: var(--secondary);
  opacity: 0.5;
}
.tablinks.active {
  background-color: var(--hardest-tertiary);
  opacity: 1;
}
.content-box h4,
h1 {
  color: var(--secondary);
}
.title {
  background-color: var(--white);
  padding: 1rem;
}
.buy-countries-cities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 25px;
}
.buy-country-city {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 6px 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
  border: none;
  border-radius: 3px;
  background: 0 0;
  margin-left: 1rem;
}
.buy-country-city.selected {
  color: var(--tertiary);
  background-color: var(--hard-quaternary);
  -webkit-box-shadow: 0 4px 8px var(--shadow-quaternary);
  box-shadow: 0 4px 8px var(--shadow-quaternary);
}
.buy-bill,
.buy-bill-private {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.buy-countries-list-item.--private > div {
  position: relative;
}
.buy-bill-item-label {
  font-size: 14px;
  font-weight: 400;
  color: var(--hard-quaternary);
  opacity: 0.9;
}
label {
  font-weight: 700;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
.buy-bill-item-radio-button {
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin: 4px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.buy-bill-item-radio-button input,
.buy-bill-item.template {
  display: none;
}
.buy-bill-item-radio-button span {
  line-height: 18px;
  display: flex;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  width: 85px;
  padding: 0.5rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  border: 1px solid var(--notification);
  border-radius: 5px;
}
.buy-bill-item-radio-button input:checked + span {
  color: var(--white);
  background-color: var(--hard-quaternary);
  -webkit-box-shadow: 0 4px 8px var(--shadow-quaternary);
  box-shadow: 0 4px 8px var(--shadow-quaternary);
}
.buy-bill-item-radio-button input:checked + span img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.buy-bill-item-count,
.buy-bill-item-name,
.buy-bill-item-radio,
.buy-bill-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}
.buy-bill-item-count-container {
  position: relative;
  width: 130px;
}
.buy-bill-item-count input {
  width: 100%;
  padding: 0 40% 0 3rem;
  text-align: center;
  border: 1px solid var(--notification);
  border-radius: 3px;
  outline: 0;
}
.buy-bill-item-count input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.buy-bill-item-count input::-webkit-inner-spin-button,
.buy-bill-item-count input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.buy-bill-item-count-btn,
.buy-bill-item-count-btn:active {
  font-size: 16px;
  position: absolute;
  top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  color: var(--white);
  border: none;
  border-radius: 2px;
  background-color: var(--hard-quaternary);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.buy-bill-item-count-btn:hover {
  background-color: var(--hov-quaternary);
}
.buy-bill-item-count-btn.--minus {
  left: 3px;
}
.buy-bill-item-count-btn.--plus {
  right: 3px;
}
.buy-bill-total-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  width: 160px;
  height: 36px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: -webkit-linear-gradient(
    338.65deg,
    var(--primary) 22.94%,
    var(--light-primary) 60.23%
  );
  background: -o-linear-gradient(
    111deg,
    var(--light-primary) 22.94%,
    var(--primary) 75.23%
  );
  background: linear-gradient(
    111deg,
    var(--light-primary) 22.94%,
    var(--primary) 75.23%
  );
  text-shadow: 0 0 5px var(--primary-shadow);
}
.buy-countries-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
  grid-gap: 15px;
}
.buy-countries-list-item {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  padding: 14px 6px;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--notification);
  border-radius: 3px;
  background-color: var(--white);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.buy-countries-list-item.selected {
  color: var(--white);
  border-color: var(--hard-quaternary);
  background-color: var(--hard-quaternary);
  -webkit-box-shadow: 0 4px 8px var(--shadow-quaternary);
  box-shadow: 0 4px 8px var(--shadow-quaternary);
}
.buy-countries-list-item-flag {
  display: block;
  width: auto;
  height: 26px;
  border: 0.5px solid var(--light);
  border-radius: 2px;
}
.selected .buy-countries-list-item-flag {
  border-color: var(--hard-quaternary);
}
.buy-countries-list-item-name {
  color: var(--secondary);
  font-weight: 700;
  max-width: 100%;
  margin-top: 10px;
  white-space: nowrap;
}
.buy-bill-total-btn span,
.selected .buy-countries-list-item-name {
  color: var(--white);
}
.buy-countries-list-item-price {
  line-height: 1;
  margin-top: 5px;
  color: var(--hard-quaternary);
}
.selected .buy-countries-list-item-price {
  color: var(--light-quaternary);
}
.buy-bill {
  display: flex;
  border-radius: 3px;
  background-color: var(--white);
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.buy-bill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.buy-bill-item-name-flag {
  width: auto;
  height: 36px;
  margin-right: 10px;
  border-radius: 3px;
}
.buy-bill-item-name-text {
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  padding-right: 5px;
}
.title h4 {
  margin: 0;
}
.search-container .form-control.search {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.search-container .form-control.search:focus {
  border-color: var(--hard-quaternary);
  -webkit-box-shadow: 0 0 3px 0rem var(--hov-quaternary);
  box-shadow: 0 0 3px 0rem var(--hov-quaternary);
}

/* Mobile */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 33.333333%);
  grid-gap: 1rem 1.5rem;
}
.mobile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--tertiary);
  padding: 1rem;
  border: 1px solid var(--hard-tertiary);
  height: 8rem;
  margin-top: 1rem;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.mobile-card::after {
  position: absolute;
  right: -18px;
  bottom: -21px;
  width: 40px;
  height: 44px;
  content: "";
  -webkit-transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  transform: rotate(46deg);
  border-left: 1px solid #ccdeeb;
  background-color: #fff;
}

.mobile-card span.label {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 5px;
  font-weight: 700;
  color: var(--hard-quaternary);
}

.mobile-card .card-header {
  position: absolute;
  top: 2.7rem;
  left: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  width: 100%;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mobile-card.active .card-header {
  position: static;
}

.mobile-card .card-content {
  display: flex;
  border-top: 1px solid var(--light-quaternary);
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
  margin-top: 1rem;
  overflow: hidden;
  visibility: hidden;
}

.mobile-card.active .card-content {
  visibility: visible;
}

.card-radio {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  color: var(--secondary);
}

.custom-radio:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid var(--light-quaternary);
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.05);
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.05);
}

.custom-radio:after {
  position: absolute;
  opacity: 0;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  content: "";
  border-radius: 50%;
  background: -webkit-linear-gradient(
    338.65deg,
    var(--primary) 22.94%,
    var(--hard-primary) 60.23%
  );
  background: -o-linear-gradient(
    338.65deg,
    var(--primary) 22.94%,
    var(--hard-primary) 60.23%
  );
  background: linear-gradient(
    338.65deg,
    var(--primary) 22.94%,
    var(--hard-primary) 60.23%
  );
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.custom-radio.checked:after {
  opacity: 1;
}

.real-radio {
  margin: 0 !important;
  visibility: hidden;
  position: absolute;
  top: 25%;
  left: 25%;
}

.card-radio label {
  margin: 0;
}

.card-content .buy-bill-total {
  flex-direction: column;
  align-items: start;
}
