<section class="buy-service">
  <div class="head">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-between">
          <h4 class="line-after my-4"><span>Buy Personal Proxy</span></h4>
          <div>
            <span class="me-2">Available</span>
            <span *ngIf="isPrivate" class="p-2 text-light bg-primary rounded-1">{{privateCountriesNumber}}
              countries</span>
            <span *ngIf="!isPrivate" class="p-2 text-light bg-primary rounded-1">{{sharedCountriesNumber}}
              countries</span>
          </div>
        </div>
        <div class="tab">
          <button #btnPrivate (click)="this.showPrivate($event)" class="tablinks active">
            <fa-icon class="ms-1" [icon]="faUser"></fa-icon>
            <span>Private</span>
          </button>
          <button #btnShared (click)="this.showShared($event)" class="tablinks">
            <fa-icon class="ms-1" [icon]="faUserGroup"></fa-icon>
            <span>Shared</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="search my-4 p-0">
          <input class="textfield" type="text" placeholder="Find a country" value="" />
        </div>
      </div>
      <div class="content-box">
        <div #title class="row title box">
          <div class="col-md-12 pb-2 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-3">
              <span class="icon-sm">
                <img src="assets/images/personal_proxy/buy personal proxy/private/{{this.countryProxy?.code}}.svg"
                  title="{{this.countryProxy?.name}}">
              </span>
              <h4>
                {{this.countryProxy?.name}}
              </h4>
              <span *ngIf="countryProxy && countryProxy.pricePrivate">
                from {{this.countryProxy.pricePrivate[0] | currency:'USD'}}
              </span>
            </div>
            <div class="d-flex align-items-center gap-1">
              <div>
                <span>
                  Available IPs&nbsp;
                </span>
                <span *ngIf="this.cityNo != -1">
                  in&nbsp;{{countryProxy?.cities?.at(this.cityNo)}}
                </span>
                :&nbsp;
              </div>
              <div class="px-2 py-1 text-light bg-primary rounded-1">
                <span *ngIf="this.cityNo == -1">
                  {{countryProxy?.ipAvailiblePrivate}}
                </span>
                <span *ngIf="this.cityNo != -1">
                  {{countryProxy?.ipAvailiblePrivateCities?.at(this.cityNo)}}
                </span>
              </div>
            </div>
          </div>
          <hr />
          <div class="col-md-12">
            <div class="buy-countries-cities">
              <button #citiesBtn (click)="this.selectedCity($event, -1)"
                class="buy-country-city">{{this.countryProxy?.name}} Mix</button>
              <button #citiesBtn *ngFor="let city of this.countryProxy?.cities;let i = index"
                (click)="this.selectedCity($event,i)" class="buy-country-city">{{city}}</button>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="buy-bill-private flex-lg-row">
              <div class="buy-bill-item-period">
                <div class="buy-bill-item-label">
                  Period:
                </div>
                <label data-value="month" class="buy-bill-item-period-button js-period-private">
                  <input #radioMonth (change)="this.selectedPeriod($event)" data-index="0" type="radio" name="period"
                    value="month"><span>Month</span>
                </label>
                <label data-value="halfyear" class="buy-bill-item-period-button js-period-private">
                  <input #radioHalfyear (change)="this.selectedPeriod($event)" data-index="1" type="radio" name="period"
                    value="halfyear"><span>Halfyear</span>
                </label>
                <label data-value="year" class="buy-bill-item-period-button js-period-private">
                  <input #radioYear (change)="this.selectedPeriod($event)" data-index="2" type="radio" name="period"
                    value="year"><span>Year</span>
                </label>
              </div>
              <div class="buy-bill-item-count">
                <div class="buy-bill-item-label">
                  Number of IPs:
                </div>
                <div class="buy-bill-item-count-container">
                  <input #countInput disabled type="number" name="count" min="1" value="1"
                    class="buy-bill-item-count-input js-private-count-input" max="27">
                  <button (click)="this.minusCount()" class="buy-bill-item-count-btn --minus js-count-change">-</button>
                  <button (click)="this.plusCount()" class="buy-bill-item-count-btn --plus js-count-change">+</button>
                </div>
              </div>
              <div class="buy-bill-total">
                <div class="buy-bill-total-day buy-bill-item-label">
                  <span class="buy-bill-total-day-num">{{this.costPerDay.toFixed(2)}}</span> per day </div>
                <button class="buy-bill-total-btn">
                  Add for
                  <span #price class="buy-bill-total-price-num">
                    {{this.totalCost | currency: 'USD'}}
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div id="buy-list-personal" class="buy-countries-list p-0">
            <div #countriesBtn *ngFor="let countryProxy of countriesProxy; let i = index"
              class="buy-countries-list-item {{countryProxy.privateClass}}{{countryProxy.sharedClass}}{{countryProxy.disabledClass}}"
              (click)="this.selectedCountry($event, i)">
              <img class="buy-countries-list-item-flag"
                src="assets/images/personal_proxy/buy personal proxy/private/{{countryProxy.flag}}.svg"
                alt="{{countryProxy.name}}">
              <div class="buy-countries-list-item-name">{{countryProxy.name}}</div>
              <div *ngIf="isPrivate" class="buy-countries-list-item-price">from
                {{countryProxy.pricePrivate[0] | currency: 'USD'}}</div>
              <div *ngIf="!isPrivate" class="buy-countries-list-item-price">from
                {{countryProxy.priceShared[0] | currency: 'USD'}}</div>
            </div>
          </div>
        </div>
        <div class="row title box d-none">
          <div class="buy-bill flex-lg-row">
            <div class="buy-bill-body">
              <div class="buy-bill-item flex-lg-row" data-iso="sk" data-filter="private">
                <div class="buy-bill-item-name">
                  <img id="CurrentCountryImage" class="buy-bill-item-name-flag"
                    src="assets/images/personal_proxy/buy personal proxy/private/jp.svg" alt=""
                    style="width: 2rem;height: 1.5rem;">
                  <span id="CurrentCountryName" class="buy-bill-item-name-text">Slovakia</span>
                </div>
                <div class="buy-bill-item-period">
                  <div class="buy-bill-item-label">
                    Period:
                  </div>

                  <label data-value="month" class="buy-bill-item-period-button js-change-bill-period">
                    <input type="radio" name="period" value="month" checked="checked"><span>Month</span>
                  </label>
                  <label data-value="halfyear" class="buy-bill-item-period-button js-change-bill-period">
                    <input type="radio" name="period" value="halfyear"><span>Halfyear</span>
                  </label>
                  <label data-value="year" class="buy-bill-item-period-button js-change-bill-period">
                    <input type="radio" name="period" value="year"><span>Year</span>
                  </label>
                </div>
                <div class="buy-bill-item-count">
                  <div class="buy-bill-item-label">
                    Кол-во IP:
                  </div>
                  <div class="buy-bill-item-count-container">
                    <input type="number" name="count" min="1" value="1"
                      class="buy-bill-item-count-input js-count-input" max="18">
                    <button class="buy-bill-item-count-btn --minus js-count-change">-</button>
                    <button class="buy-bill-item-count-btn --plus js-count-change">+</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="buy-bill-total">
              <div class="buy-bill-total-day buy-bill-item-label">
                $<span class="buy-bill-total-day-num js-bill-day-price">0.27</span>
                per day </div>
              <button class="buy-bill-total-btn">
                Add for $<span class="buy-bill-total-price-num js-bill-total-price">8</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
