<section class="buy-service">
  <div class="head">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-4 d-flex gap-3 gap-md-0 flex-md-row flex-column align-items-start align-items-md-center justify-content-between">
          <h1 class="line-after"><span>{{this.compName}}</span></h1>
          <div>
            <span class="me-2">Available</span>
            <span *ngIf="isPrivate" class="p-2 text-light bg-primary rounded-1">{{privateCountriesNumber}}
              countries</span>
            <span *ngIf="!isPrivate" class="p-2 text-light bg-primary rounded-1">{{sharedCountriesNumber}}
              countries</span>
          </div>
        </div>
        <div class="tab">
          <button #btnPrivate (click)="this.showPrivate($event)" class="tablinks active">
            <fa-icon class="ms-1" [icon]="faUser"></fa-icon>
            <span>Private</span>
          </button>
          <button #btnShared (click)="this.showShared($event)" class="tablinks">
            <fa-icon class="ms-1" [icon]="faUserGroup"></fa-icon>
            <span>Shared</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="search my-4 p-0">
          <input class="textfield" type="text" placeholder="Find a country" [(ngModel)]="this.filteredCountriesValue" />
        </div>
      </div>
      <div class="content-box">
        <div *ngIf="this.isPrivate" class="row title box">
          <div class="col-md-12 pb-2 d-flex gap-3 gap-md-0 flex-md-row flex-column align-items-start align-items-md-center justify-content-between">
            <div class="d-flex align-items-center gap-1 gap-md-3">
              <span class="icon-sm">
                <img src="assets/images/personal_proxy/buy personal proxy/private/{{this.countryProxy?.icon}}.svg"
                  title="{{this.countryProxy?.name}}">
              </span>
              <h4>
                {{this.countryProxy?.name}}
              </h4>
              <span>
                from {{this.countryProxy?.pricePrivate?.at(0)| currency:'USD'}}
              </span>
            </div>
            <div class="d-flex align-items-center gap-1">
              <div>
                <span>
                  Available IPs&nbsp;
                </span>
                <span *ngIf="this.cityNo != -1">
                  in&nbsp;{{countryProxy?.cities?.at(this.cityNo)}}
                </span>
                :&nbsp;
              </div>
              <div class="px-2 py-1 text-light bg-primary rounded-1">
                <span *ngIf="this.cityNo == -1">
                  {{countryProxy?.ipAvailiblePrivate}}
                </span>
                <span *ngIf="this.cityNo != -1">
                  {{countryProxy?.ipAvailiblePrivateCities?.at(this.cityNo)}}
                </span>
              </div>
            </div>
          </div>
          <hr />
          <div class="col-md-12">
            <div class="buy-countries-cities">
              <button #citiesBtn (click)="this.selectedCity($event, -1)"
                class="buy-country-city">{{this.countryProxy?.name}} Mix</button>
              <button #citiesBtn *ngFor="let city of this.countryProxy?.cities;let i = index"
                (click)="this.selectedCity($event,i)" class="buy-country-city">{{city}}</button>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="buy-bill-private flex-lg-row gap-3 gap-lg-0">
              <div class="buy-bill-item-period">
                <div class="buy-bill-item-label">
                  Period:
                </div>
                <label data-value="week" class="buy-bill-item-period-button js-period-private d-none">
                  <input #radioWeek (change)="this.selectedPeriod($event)" data-index="0" type="radio" name="period"
                    value="week"><span>Week</span>
                </label>
                <label data-value="month" class="buy-bill-item-period-button js-period-private">
                  <input #radioMonth (change)="this.selectedPeriod($event)" data-index="1" type="radio" name="period"
                    value="month"><span>Month</span>
                </label>
                <label data-value="halfyear" class="buy-bill-item-period-button js-period-private">
                  <input #radioHalfyear (change)="this.selectedPeriod($event)" data-index="2" type="radio" name="period"
                    value="halfyear"><span>Halfyear</span>
                </label>
                <label data-value="year" class="buy-bill-item-period-button js-period-private">
                  <input #radioYear (change)="this.selectedPeriod($event)" data-index="3" type="radio" name="period"
                    value="year"><span>Year</span>
                </label>
              </div>
              <div class="buy-bill-item-count">
                <div class="buy-bill-item-label">
                  Number of IPs:
                </div>
                <div class="buy-bill-item-count-container">
                  <input #countInput type="number" name="count" min="1" [(ngModel)]="this.countInputValue"
                    class="buy-bill-item-count-input js-private-count-input"
                    max="{{ this.cityNo === -1? this.countryProxy?.ipAvailiblePrivate: this.countryProxy?.ipAvailiblePrivateCities?.at(this.cityNo)}}">
                  <button (click)="this.countInputValue = this.countInputValue - 1;"
                    class="buy-bill-item-count-btn --minus js-count-change">-</button>
                  <button (click)="this.countInputValue = this.countInputValue + 1;"
                    class="buy-bill-item-count-btn --plus js-count-change">+</button>
                </div>
              </div>
              <div class="buy-bill-total">
                <div class="buy-bill-total-day buy-bill-item-label">
                  <span class="buy-bill-total-day-num">{{this.costPerDay.toFixed(2)}}</span> per day
                </div>
                <button class="buy-bill-total-btn">
                  Add for
                  <span #price class="buy-bill-total-price-num">
                    {{this.totalCost | currency: 'USD'}}
                  </span>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="this.isCountButtonChanged && (!this.isCitySelected || !this.isPeriodSelected)"
            class="col-lg-12 d-flex align-items-center justify-content-center">
            <div class="my-1 bg-danger rounded-1 py-1 px-2 transition-4">
              <span class="text-light fs-14 fw-bold">
                Make Sure that you Select a City and Wanted Period
              </span>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div id="buy-list-personal" class="buy-countries-list p-0">
            <div #countriesBtn *ngFor="let countryProxy of filteredCountriesProxy; let i = index"
              class="buy-countries-list-item {{countryProxy.privateClass}}{{countryProxy.sharedClass}}{{countryProxy.disabledClass}}"
              (click)="this.selectedCountry($event, i)">
              <img class="buy-countries-list-item-flag"
                src="assets/images/personal_proxy/buy personal proxy/private/{{countryProxy.icon}}.svg"
                alt="{{countryProxy.name}}">
              <div class="buy-countries-list-item-name">{{countryProxy.name}}</div>
              <div *ngIf="isPrivate" class="buy-countries-list-item-price">from
                {{countryProxy.pricePrivate[0] | currency: 'USD'}}</div>
              <div *ngIf="!isPrivate" class="buy-countries-list-item-price">from
                {{countryProxy.priceShared[0] | currency: 'USD'}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="!this.isPrivate" class="row title box">
          <div class="col-md-12 pb-2 d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center gap-3">
              <span class="icon-sm">
                <img src="assets/images/personal_proxy/buy personal proxy/private/{{this.countryProxy?.icon}}.svg"
                  title="{{this.countryProxy?.name}}">
              </span>
              <h4>
                {{this.countryProxy?.name}}
              </h4>
              <span>
                from {{this.countryProxy?.priceShared?.at(0)| currency:'USD'}}
              </span>
            </div>
            <div class="d-flex align-items-center gap-1">
              <div>
                <span>
                  Available IPs:
                </span>
              </div>
              <div class="px-2 py-1 text-light bg-primary rounded-1">
                <span>
                  {{countryProxy?.ipAvailibleShared}}
                </span>
              </div>
            </div>
          </div>
          <div class="buy-bill flex-lg-row">
            <div class="buy-bill-item-period">
              <div class="buy-bill-item-label">
                Period:
              </div>
              <label data-value="week" class="buy-bill-item-period-button js-period-private">
                <input #radioWeek (change)="this.selectedPeriod($event)" data-index="0" type="radio" name="period"
                  value="week"><span>Week</span>
              </label>
              <label data-value="month" class="buy-bill-item-period-button js-period-private">
                <input #radioMonth (change)="this.selectedPeriod($event)" data-index="1" type="radio" name="period"
                  value="month"><span>Month</span>
              </label>
              <label data-value="halfyear" class="buy-bill-item-period-button js-period-private">
                <input #radioHalfyear (change)="this.selectedPeriod($event)" data-index="2" type="radio" name="period"
                  value="halfyear"><span>Halfyear</span>
              </label>
              <label data-value="year" class="buy-bill-item-period-button js-period-private d-none">
                <input #radioYear (change)="this.selectedPeriod($event)" data-index="3" type="radio" name="period"
                  value="year"><span>Year</span>
              </label>
            </div>
            <div class="buy-bill-item-count">
              <div class="buy-bill-item-label">
                Number of IPs:
              </div>
              <div class="buy-bill-item-count-container">
                <input #countInput type="number" name="count" min="1" [(ngModel)]="this.countInputValue"
                  max="{{this.countryProxy?.ipAvailibleShared}}"
                  class="buy-bill-item-count-input js-private-count-input"
                  max="{{this.countryProxy?.ipAvailibleShared?.toString()}}">
                <button (click)="this.countInputValue = this.countInputValue - 1;"
                  class="buy-bill-item-count-btn --minus js-count-change">-</button>
                <button (click)="this.countInputValue = this.countInputValue + 1;"
                  class="buy-bill-item-count-btn --plus js-count-change">+</button>
              </div>
            </div>
            <div class="buy-bill-total">
              <div class="buy-bill-total-day buy-bill-item-label">
                <span class="buy-bill-total-day-num">{{this.costPerDay.toFixed(2)}}</span> per day
              </div>
              <button class="buy-bill-total-btn">
                Add for
                <span #price class="buy-bill-total-price-num">
                  {{this.totalCost | currency: 'USD'}}
                </span>
              </button>
            </div>
          </div>
          <div *ngIf="this.isCountButtonChanged && !this.isPeriodSelected"
            class="col-lg-12 d-flex align-items-center justify-content-center">
            <div class="my-1 bg-danger rounded-1 py-1 px-2 transition-4">
              <span class="text-light fs-14 fw-bold">
                Make Sure that you Select a Wanted Period
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
