/** Buy Personal Proxy **/
.buy-service {
  background-color: #FAFAFA;
}

.buy-service * {
  color: #e0e9f7ab
}

.buy-service .head {
  background-color: #1F2B3A;
}

.buy-service h4 {
  color: #F4F7FA;
}

.buy-service .content-box h4,
.buy-service .content-box span,
.buy-service .content-box {
  color: #414141;
}

.buy-service .title {
  background-color: #fff;
  padding: 1rem;
}

.personal-new__buy-countries-usa-cities {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}

.personal-new__buy-countries-usa-city {
  color: #414141 !important;
  width: 9rem;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 6px 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: left;
  border: none;
  border-radius: 3px;
  background: 0 0;
}

.personal-new__buy-countries-usa-city.selected {
  color: #fff !important;
  background: #38527a;
  -webkit-box-shadow: 0 4px 8px rgb(56 82 122 / 30%);
  box-shadow: 0 4px 8px rgb(56 82 122 / 30%);
}

.personal-new__buy-bill-usa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.personal-new__buy-countries-list-item.--usa>div {
  position: relative;
}

.personal-new__buy-bill-usa .personal-new__buy-bill-item-period {
  margin-right: 20px;
}

.personal-new__buy-bill-item-label {
  font-size: 14px;
  font-weight: 400;
  margin-right: 15px;
  color: #667c9c;
}

label {
  font-weight: 700;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.personal-new__buy-bill-item-period-button {
  margin: 0 15px 0 0;
  cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
  line-height: normal;
  margin: 4px 0 0;
  margin-top: 1px\9;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.personal-new__buy-bill-item-period-button input {
  display: none;
}

.personal-new__buy-bill-item-period-button span {
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  display: inline-block;
  width: 85px;
  height: 36px;
  padding: 8px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: center;
  border: 1px solid #cdd9eb;
  border-radius: 3px;
  background: #fff;
}

.personal-new__buy-bill-item-period-button input:checked+span {
  color: #fff;
  background: #38527a;
  -webkit-box-shadow: 0 4px 8px rgb(56 82 122 / 30%);
  box-shadow: 0 4px 8px rgb(56 82 122 / 30%);
}

.personal-new__buy-bill-item-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.personal-new__buy-bill-item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.personal-new__buy-bill-item-count-container {
  position: relative;
  width: 130px;
}

.personal-new__buy-bill-item-count input {
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  height: 36px;
  padding: 0 36px;
  padding-left: 3rem;
  text-align: center;
  border: 1px solid #cdd9eb;
  border-radius: 3px;
  outline: 0;
  background: #fff;
  -moz-appearance: textfield;
  appearance: textfield;
}

.personal-new__buy-bill-item-count input:disabled {
  color: #414141;
  background-color: #fff;
}

.personal-new__buy-bill-item-count-btn {
  font-size: 16px;
  position: absolute;
  top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: #38527a;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.personal-new__buy-bill-item-count-btn.--minus {
  left: 3px;
}

.personal-new__buy-bill-item-count-btn.--plus {
  right: 3px;
}

.personal-new__buy-bill-usa .personal-new__buy-bill-total {
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.personal-new__buy-bill-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.personal-new__buy-bill-total-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  width: 160px;
  height: 36px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: -webkit-linear-gradient(338.65deg, #08ee7f 22.94%, #20cf92 60.23%);
  background: -o-linear-gradient(338.65deg, #08ee7f 22.94%, #20cf92 60.23%);
  background: linear-gradient(111.35deg, #08ee7f 22.94%, #20cf92 60.23%);
  text-shadow: 0 0 5px rgb(13 91 64 / 40%);
}

.personal-new__buy-countries-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
  grid-gap: 15px;
}


.personal-new__buy-countries-list-item {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  padding: 14px 6px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #d8e7f2;
  border-radius: 3px;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.personal-new__buy-countries-list-item.selected {
  color: #fff;
  border-color: #38527a;
  background: #38527a;
  -webkit-box-shadow: 0 4px 8px rgb(56 82 122 / 30%);
  box-shadow: 0 4px 8px rgb(56 82 122 / 30%);
}

.personal-new__buy-countries-list-item-flag {
  display: block;
  width: auto;
  height: 26px;
  border: 0.5px solid #f5f5f5;
  border-radius: 2px;
}

.selected .personal-new__buy-countries-list-item-flag {
  border-color: #304669;
}

.personal-new__buy-countries-list-item-name {
  color: #333 !important;
  font-weight: 700;
  overflow: hidden;
  max-width: 100%;
  margin-top: 10px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.selected .personal-new__buy-countries-list-item-name {
  color: #fff !important;
}

.personal-new__buy-countries-list-item-price {
  line-height: 1;
  margin-top: 5px;
  color: #667c9c;
}

.selected .personal-new__buy-countries-list-item-price {
  color: #95a9c8;
}

.personal-new__buy-bill-total-btn span {
  color: #fff !important;
}

.personal-new__buy-bill {
  display: flex;
  border-radius: 3px;
  background: #fff;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.personal-new__buy-bill-item.template {
  display: none;
}

.personal-new__buy-bill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.personal-new__buy-bill-item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.personal-new__buy-bill-item-name-flag {
  width: auto;
  height: 36px;
  margin-right: 10px;
  border-radius: 3px;
}

.personal-new__buy-bill-item-name-text {
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  width: 100px;
  padding-right: 5px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.buy-service .title h4 {
  margin: 0;
}

.buy-service .search .textfield {
  color: #1F2B3A;
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border: 0.1rem solid #0000001f;
  border-radius: 0.2rem;
  width: 100%;
  height: 100%;
}

/* Tap */

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #212c3b;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 0.15rem;
  transition: 0.3s;
  font-size: 17px;
  margin-right: 0.7rem;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #34445c;
}

/* Style the tab content */
