<xvpn-offered-services></xvpn-offered-services>
<section class="Proxy-lists py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9 px-3 mb-3">
        <h4 class="line-after mb-4">
          Proxy lists only for $10 per month
        </h4>
        <p>
          Shared proxy is one-stop solution for all your tasks. It’s a good way to get started your own
          story with proxies!! There are no restrictions in Shared proxy pack: unlimited traffic and
          opened ports are here! You can buy a shared proxy for only $ 10 per month! These are almost free
          proxies.
        </p>
        <p>
          Despite other Shared packs which consist mainly on unprotected IP with shared access RSocks
          Shared proxies have only the most stable Online through around the Internet!
        </p>
        <p>
          Use Shared proxy from RSocks!
        </p>
      </div>
      <!-- Pricing Table 1 -->
      <div class="col-md-3">
        <div class="w-90 mx-auto">
          <xvpn-pricing-card [isShared]="true" [inputList]="this.sharedPrices[0]"></xvpn-pricing-card>
        </div>
      </div>
      <!-- END 1 -->
    </div>
  </div>
</section>
<section class="shared-locations py-5">
  <div class="container">
    <div class="row">
      <h4>
        Shared proxy locations
      </h4>
      <div class="col-lg-12">
        <div class="search rounded-5 mb-1 mt-2 gap">
          <div class="font-icon">
            <fa-icon [icon]='faSearch'></fa-icon>
          </div>
          <input [(ngModel)]="this.filteredCountriesValue" class="countries-search" type="text"
            placeholder="Now available more than 2000 IPs">
        </div>
      </div>
      <div class="col-lg-12">
        <div id="countriesList" class="row countries-list">
          <div *ngFor="let country of this.filteredCountries" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="d-flex align-items-center justify-content-between rounded-3 bg-white my-1 px-2 py-2 ">
              <div class="d-flex align-items-center gap-1">
                <div class="size-25px rounded-3">
                  <img src="assets/lib/flag_icons_main/flags/4x3/{{country.icon}}.svg" title="{{country.name}}"
                    alt="{{country.name}}">
                </div>
                <div *ngIf="!country.isWide" class="fs-14 text-dark">{{country.name}}</div>
                <div *ngIf="country.isWide" class="fs-11 text-dark">{{country.name}}</div>
              </div>
              <div class="fs-15 bg-hard-light rounded-3 text-soft-dark p-1">{{country.ipsCount}}</div>
            </div>
          </div>
        </div>
        <a (click)="this.openDivTarget($event, 'countriesList')" class="countries-show-all">
          <span class="content">Show all</span>
          <span class="icon-sm">
            <fa-icon [icon]='faCaretDown'></fa-icon>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="proxy-checker py-5">
  <div class="container">
    <div class="row mb-4 pb-2">
      <h4 class="line-after fw-light">
        <span>
          Proxy Checker is a free handy tool helping to work with the Shared proxies
        </span>
      </h4>
      <p class="mt-4">
        Proxy Checker is a great assistant. It can be used to configure proxy to the most efficient
        performance: selecting IP addresses of necessary locations, checking the actual speed of a
        specific IP address and many more options.
      </p>
    </div>
    <div class="row mb-5 ">
      <div class="mb-1 mb-sm-0 col-12 col-sm-6 col-lg-3 d-flex align-items-start gap-3 flex-column justify-content-between">
        <div *ngFor="let proxyChecker of proxyCheckers | filterByProperty: 'position': 'left'"
          class="d-flex gap-5 align-items-center">
          <span class="icon-md">
            <img src="assets/images/shared_proxy/pack_individ/{{proxyChecker.icon}}.svg" alt="{{proxyChecker.name}}">
          </span>
          <span>
            {{proxyChecker.name}}
          </span>
        </div>
      </div>
      <div class="col-lg-6 d-none gap-10 d-lg-flex flex-column align-items-center justify-content-center">
        <div class="img-box-lg w-100">
          <img src="assets/images/shared_proxy/shared_checker/center-img.svg" alt="center-img">
        </div>
        <a href="#" class="btn btn-hard-light fs-16 fw-400 rounded-1">Learn more</a>
      </div>
      <div class="mb-1 mb-sm-0 col-12 col-sm-6 col-lg-3 d-flex align-items-start gap-3 flex-column justify-content-between">
        <div *ngFor="let proxyChecker of proxyCheckers | filterByProperty: 'position': 'right'"
          class="d-flex gap-5 align-items-center">
          <span class="icon-md">
            <img src="assets/images/shared_proxy/shared_checker/{{proxyChecker.icon}}.svg" alt="{{proxyChecker.name}}">
          </span>
          <span>
            {{proxyChecker.name}}
          </span>
        </div>
      </div><div class="gap-10 d-flex d-lg-none flex-column align-items-center justify-content-center">
        <div class="img-box-lg w-100">
          <img src="assets/images/shared_proxy/shared_checker/center-img.svg" alt="center-img">
        </div>
        <a href="#" class="btn btn-hard-light fs-16 fw-400 rounded-1">Learn more</a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <ul class="os-list flex-wrap">
          <li class="flex-basis-10">
            <span>
              Download ProxyChecker
            </span>
          </li>
          <li *ngFor="let operatingSystem of operatingSystems">
            <a href="#" class="d-flex gap-2 text-dark hov-text-primary hov-border-primary">
              <span class="font-icons transition-3">
                <fa-icon *ngIf="operatingSystem.icon === 'faWindows'" [icon]="faWindows" size="lg"></fa-icon>
                <fa-icon *ngIf="operatingSystem.icon === 'faApple'" [icon]="faApple" size="lg"></fa-icon>
                <fa-icon *ngIf="operatingSystem.icon === 'faLinux'" [icon]="faLinux" size="lg"></fa-icon>
              </span>
              <div class="d-flex flex-column">
                <span class="transition-3">
                  {{operatingSystem.name}}
                </span>
                <label class="c-default text-soft-dark hov-text-soft-dark transition-3">
                  {{operatingSystem.worksOn}}
                </label>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="free-proxy py-5">
  <div class="container">
    <div class="row">
      <h4 class="line-after mb-3">
        <span>
          Almost free proxy lists by RSocks
        </span>
      </h4>
      <div *ngFor="let freeProxy of freeProxies"
        class="col-lg-3 px-5 text-center d-flex flex-column align-items-center justify-content-between mt-4">
        <span class="icon-md">
          <img [src]="freeProxy.icon" alt="{{freeProxy.name}}">
        </span>
        <h6 class="text-uppercase my-3">
          {{freeProxy.name}}
        </h6>
        <p>
          {{freeProxy.description}}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="info py-5">
  <div class="container">
    <div class="row">
      <h4 class="line-after mb-4">
        <span>
          Info
        </span>
      </h4>
      <div class="col-lg-9">
        <p>
          Price is the main advantage of Shared proxy by RSocks. These proxies are a great solution for
          those who don’t need high-quality IP. This package is assembled from all available on the Web
          opened ports. Therefore, the RSocks team is not committed to maintaining the availability and
          quality of the Shared packs.
        </p>
        <p>
          We are also ready to provide proxy packs with <a href="#">better-quality exclusive IPs</a> or in
          a particular location. You can discuss with support team about personal conditions after the
          registration.
        </p>
      </div>
      <div class="col-lg-3">
        <div class="notification d-flex flex-column align-items-center justify-content-between p-4 py-5">
          <span class="img-box-sm mb-4">
            <img src="assets/images/shared_proxy/info/diamond.svg" alt="diamond">
          </span>
          <a href="#" class="btn btn-primary text-dark fs-16 px-5 py-3 rounded-3">Register</a>
        </div>
      </div>
    </div>
  </div>
</section>
