input:active,
input:focus,
input:focus-visible {
  outline: none;
}
.Proxy-lists {
  background-color: var(--white);
}

.Proxy-lists .container {
  overflow: visible;
}

.Proxy-lists p {
  margin-bottom: 2rem;
}

/* Shared locations */
.shared-locations {
  background-color: var(--hov-tertiary);
}

.search{
  position: relative;
  display: flex;
  overflow: hidden;
}

.font-icon{
  background-color: var(--primary);
  color: var(--white);
  flex-grow: 1;
}

.countries-search {
  font-size: 16px;
  padding: 1rem 1rem;
  border: none;
  -ms-flex-preferred-size: 100%;
  flex-basis: 90%;
}

.countries-list {
  height: 40.5rem;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.countries-list > div {
min-height: 3.5rem;
height: 3.5rem;
max-height: 3.5rem;
overflow: hidden;
}

.countries-show-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem 0;
}

.shared-proxy__countries-show-all .icon-sm {
  transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;

}

/* proxy-checker*/
.proxy-checker .btn {
  padding: 0.5rem 4rem;
}

.proxy-checker .os-list {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.proxy-checker .os-list a:hover,
.proxy-checker .os-list a:hover .font-icons {
  color: var(--primary);
  border-color: var(--primary);
}

.proxy-checker .os-list .font-icons {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--secondary);
  border-radius: 50%;
}

