
/*======================================
  01. Start Header Area CSS
========================================*/
.container {
  overflow: visible;
}
.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.header-bar {
  z-index: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--secondary);
  font-family: "Poppins", sans-serif;
}
.header-bar a {
  color: var(--tertiary);
  opacity: 0.7;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-bar a:hover {
  opacity: 1;
}

button {
  border: none;
}

/*======================================
	01. Start Navbar Area CSS
========================================*/
.header .navbar-brand img {
  width: 110px;
}

.sticky {
  position: fixed;
  z-index: 99;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  top: 0;
  background-color: #fff;
}

.navbar-expand-lg .navbar-nav {
  margin: 0;
}
/*===== NAVBAR =====*/
.navbar-area {
  width: 100%;
  z-index: 99;
  padding: 0;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-area.sticky {
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 0px 20px 50px 0px #0000000d;
  box-shadow: 0px 20px 50px 0px #0000000d;
  background-color: var(--tertiary);
}

.navbar {
  padding: 0.5rem 0rem;
  border-bottom: solid var(--shadow-tertiary) 1px;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.navbar-area.sticky .navbar {
  border-bottom: none;
}

.navbar-collapse {
  display: flex;
  -o-transition: right 0.4s ease;
  -webkit-transition: right 0.4s ease;
  -moz-transition: right 0.4s ease;
  -ms-transition: right 0.4s ease;
  transition: right 0.4s ease;
}

.navbar-brand {
  padding-left: 0;
  border-radius: 0;
}

.mobile-menu-btn {
  padding: 0px;
}

.mobile-menu-btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mobile-menu-btn .toggler-icon {
  color: var(--secondary);
  display: block;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

.navbar-nav .nav-item {
  display: flex;
  margin-right: 40px;
  color: var(--secondary);
  z-index: 1;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}

.navbar-nav .nav-item a {
  font-size: 15px;
  color: var(--secondary);
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-nav .nav-item fa-icon {
  color: var(--secondary);
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar-nav .nav-item:hover a {
  color: var(--primary);
}
.navbar-nav .nav-item:hover fa-icon {
  color: var(--primary);
}

.navbar-nav .nav-item .sub-menu {
  position: absolute;
  display: flex;
  top: 103%;
  width: max-content;
  height: 0;
  background-color: var(--hard-tertiary);
  color: var(--tertiary);
  flex-direction: column;
  overflow: hidden;
  border-radius: 2px;
  -o-transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.navbar-nav .nav-item .sub-menu .nav-item {
  margin: 0;
}

.navbar-nav .nav-item .sub-menu .nav-item a {
  padding: 10px;
  width: 100%;
  word-wrap: normal;
  color: var(--secondary) !important;
}

.navbar-nav .nav-item .sub-menu .nav-item a:hover {
  background-color: var(--hov-tertiary);
  color: var(--secondary) !important;
}
/*responsive*/
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    flex-direction: column;
    background-color: var(--tertiary);
    width: 45%;
    top: 0;
    bottom: 0;
    right: -28rem;
  }
  .navbar-collapse.show {
    right: 0;
  }
  .navbar-nav {
    width: 100%;
  }
  .nav-item a,
  .toggler-icon {
    color: var(--secondary) !important;
    padding: 0.5rem 1.5rem;
  }
  #nav.navbar-nav .nav-item {
    margin: 0;
  }
  #nav.navbar-nav .nav-item a {
    width: 100%;
    font-size: 15px;
  }
  #nav.navbar-nav .nav-item:hover {
    background-color: var(--hard-tertiary);
  }
  .navbar-nav .nav-item.list {
    flex-direction: column;
  }
  .navbar-nav .nav-item.list .sub-menu {
    position: static;
    width: 100%;
  }
  .navbar-nav .nav-item.list .sub-menu .nav-item a {
  }
  .navbar-nav .nav-item.list .sub-menu .nav-item a:hover {
  }
}

@media (max-width: 767px) {
}
