<xvpn-preloader *ngIf="!intiated"></xvpn-preloader>
<xvpn-offered-services></xvpn-offered-services>
<section>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/residential_proxy/features/description.svg" alt="logo" class="img-fluid">
      </div>
      <div class="col-10 d-flex flex-column gap-3">
        <h4>
          Buy residential proxy
        </h4>
        <p>
          RSocks team offers a huge amount of residential plans which were developed for plenty of tasks and, most
          importantly, has been proved to be quite efficient. Such variety has been created on purpose to let everyone
          choose a plan for a reasonable price, online, rotation and other parameters.
        </p>
        <div class="service-props residential-feature">
          <ul class="row">
            <li *ngFor="let residentialFeature of this.residentialFeatures" class="col-4 gap-1">
              <span class="icon">
                <img class="icon-img"
                  src="assets/images/residential_proxy/features/{{residentialFeature.icon}}-{{residentialFeature.id}}.svg"
                  title="{{residentialFeature.name}}" alt="{{residentialFeature.name}}">
              </span>
              <p>
                {{residentialFeature.description}}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<xvpn-plans-table [title]="this.title"></xvpn-plans-table>
<!-- Start Service Props Area -->
<section class="service-props">
  <div class="container">
    <div class="row my-4">
      <div class="col-lg-12">
        <h4 class="line-after">
          <span>
            Mobile proxies will be the best choice for:
          </span>
        </h4>
        <ul class="row">
          <li *ngFor="let universalProxyList of this.universalProxyLists" class="col-md-6 mb-3 gap-3">
            <span class="icon">
              <img class="icon-img-md"
                src="assets/images/residential_proxy/universal_proxy/{{universalProxyList.icon}}-{{universalProxyList.id}}.svg"
                title="{{universalProxyList.name}}" alt="{{universalProxyList.name}}">
            </span>
            <div class="content-box">
              <span class="fw-bold mb-1 text-uppercase">
                {{universalProxyList.name}}
              </span>
              <br>
              <p>
                {{universalProxyList.description}}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Service Props Area -->
<!-- Start Service Asked Questions Area -->
<section class="service-asked-questions">
  <div class="container">
    <div class="row my-4">
      <div>
        <h4>Frequently asked questions</h4>
      </div>
      <div class="col-lg-12">
        <div *ngFor="let frequentlyAske of frequentlyAskes" class="openable">
          <h6 (click)="this.openDiv($event)" class="d-flex justify-content-between">
            <span>{{frequentlyAske.question}}</span>
            <span class="icon-sm"><fa-icon [icon]='faCaretDown'></fa-icon></span>
          </h6>
          <p>
            {{frequentlyAske.answers}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service Asked Questions Area -->
<!-- Start Service Prefooter Area -->
<section class="service-prefooter">
  <div class="container">
    <div class="row my-4">
      <div>
        <h4>Residential proxies from RSocks</h4>
      </div>
      <div class="col-lg-12">
        <p class="w-sm-55">
          Choose the plan you're interested in and evaluate its work here and now.Our round-the-clock <span
            class="text-primary">support service</span>
          will help you to pick a fitting plan
        </p>
      </div>
      <div class="col-lg-12">
        <a href="#" class="btn btn-primary mt-3 mb-1">Try for free</a>
      </div>
    </div>
  </div>
</section>
<!-- End Service Prefooter Area -->
