<div *ngIf="!this.isPricingCard && !this.isShared" class="pricing-card box">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>
          <span class="icon-md">
            <img alt="{{inputList?.name}}" src="assets/images/pricing_table/{{inputList?.img}}.png" />
          </span>
        </th>
        <th>
          <h5>{{ inputList?.name }}</h5>
          <span>{{ inputList?.description }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="pt-4">
          <fa-icon [icon]="faCheck"></fa-icon>
        </td>
        <td class="pt-4">
          <span>{{ inputList?.offer1 }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <fa-icon [icon]="faCheck"></fa-icon>
        </td>
        <td>
          <span>{{ inputList?.offer2 }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <fa-icon [icon]="faCheck"></fa-icon>
        </td>
        <td>
          <span style="color: #0a58ca">{{
            inputList?.offer3
            }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <fa-icon [icon]="faCheck"></fa-icon>
        </td>
        <td>
          <span style="color: #0a58ca">{{
            inputList?.offer4
            }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <fa-icon [icon]="faCheck"></fa-icon>
        </td>
        <td>
          <span>{{ inputList?.offer5 }}</span>
        </td>
      </tr>
      <tr>
        <td class="pb-4"></td>
        <td class="pb-4">
          <a href="#" class="btn btn-primary me-2 text-capitalize fw-bold">Choose your pack</a>
          or <a href="#">Try it for free</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="this.isPricingCard && !this.isShared" class="pricing-card --style box">
  <div class="pricing-card-header">
    <div>
      <h3>{{inputList?.name}}</h3>
      <span>{{inputList?.serviceName}}</span>
    </div>
    <div class="text-end">
      <h3 class="text-primary">{{inputList?.price | currency: 'USD'}}</h3>
      <span>{{inputList?.period}}</span>
    </div>
  </div>
  <hr class="mx-4">
  <table *ngIf="inputList" class="table table-borderless pricing-table">
    <tbody>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[0]}}.png" title="{{inputList.features[0]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[0]}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[1]}}.png" title="{{inputList.features[1]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[1]}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[2]}}.png" title="{{inputList.features[2]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[2]}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[3]}}.png" title="{{inputList.features[3]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[3]}}</span>
        </td>
      </tr>
      <tr>
        <td class="px-4" colspan="2">
          <hr />
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[4]}}.png" title="{{inputList.features[4]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[4]}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[5]}}.png" title="{{inputList.features[5]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[5]}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[6]}}.png" title="{{inputList.features[6]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[6]}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[7]}}.png" title="{{inputList.features[7]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[7]}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[8]}}.png" title="{{inputList.features[8]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[8]}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="icon-sm"><img src="assets/images/personal_proxy/pricing_table/{{inputList.featuresIcon[9]}}.png" title="{{inputList.features[9]}}"></span>
        </td>
        <td>
          <span>{{inputList.features[9]}}</span>
        </td>
      </tr>
      <tr>
        <td class="button" colspan="2">
          <a class="btn btn-primary text-capitalize fs-15 w-100">Try it now</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="this.isShared" class="pricing-card shared shadow-2xl">
  <div class="pricing-card-header">
    <span>{{inputList?.title}}</span>
  </div>
  <table *ngIf="inputList" class="table table-borderless pricing-table">
    <tbody>
      <tr *ngFor="let feature of inputList.featuresName; let i=index">
        <td class="feature">
          <span class="feature-name">{{inputList.featuresName[i]}}</span>
          <span>{{inputList.features[i]}}</span>
        </td>
      </tr>
      <tr>
        <td class="feature">
          <a href="" class="btn btn-primary py-3 mt-3 mb-2"> Buy </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
