.proxy-service {
  background-color: var(--light);
  color: var(--dark);
}

.proxy-service .container {
  position: relative;
}


.proxy-service .icon {
  width: 64px;
  margin: 0;
}

.proxy-service .line-after {
  margin-top: 2rem;
}
