.companies {
  background-color: #f5f5f5;
}

.companies ul {
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.companies ul li {
  display: block;
  cursor: pointer;
  opacity: 0.5;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.companies ul li:hover {
  opacity: 1;
}
