<div class="select">
  <div (click)="this.openSelect()" class="select-display">
    <div class="select-icon">
      <img src="assets/images/personal_proxy/buy personal proxy/private/eg.svg" alt="Egypt" title="Egypt">
    </div>
    <div class="select-text">
      <span>Egypt</span>
      <span><fa-icon [icon]="faCaretDown"></fa-icon></span>
    </div>
  </div>
  <div #btnSelectList class="select-list">
    <div class="form-group">
      <input type="text">
    </div>
    <ul class="options">
      <li class="option">
        <div class="option-icon">
          <img src="assets/images/personal_proxy/buy personal proxy/private/eg.svg" alt="Egypt" title="Egypt">
        </div>
        <div class="option-text">
          <span>Egypt</span>
        </div>
      </li>
    </ul>
  </div>
</div>
