<section>
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h4>Buy data center proxies</h4>
        <div class="viwe-buttons">
          <button><fa-icon [icon]="faGrip"></fa-icon></button>
          <button><fa-icon [icon]="faList"></fa-icon></button>
        </div>
      </div>
    </div>
    <div class="grid-table shadow">
      <div class="grid-table-head">
        <div>
          <span>Package</span>
        </div>
        <div>
          <span>online</span>
          <span>Threads</span>
          <span>day</span>
          <span>week</span>
          <span>month</span>
        </div>
      </div>
      <div class="grid-table-body">
        <div>
          <span>Package</span>
        </div>
        <div>
          <span>online</span>
          <span>Threads</span>
          <span>day</span>
          <span>week</span>
          <span>month</span>
        </div>
      </div>
    </div>
  </div>
</section>
