<section class="hero">
  <div class="header-bg"></div>
  <div class="container">
    <div *ngIf="routerLinkActive === 'Home'" class="row">
      <div class="col-md-6 col-lg-5">
        <div class="slider-content mt-3 mt-md-0">
          <h5>
            <span *ngIf="showText" class="fade-in">Alpha-x Project</span>
          </h5>
          <h3>
            <span *ngIf="showText1" class="fade-in">Professional Solutions</span>
            <span *ngIf="showText2" class="fade-in">for providing</span>
            <span *ngIf="showText3" class="fade-in">&nbsp;a personal</span>
            <span *ngIf="showText4" class="fade-in">&nbsp;Privacy</span>
          </h3>
          <div *ngIf="showText5" class="fade-in button d-flex gap-3 align-items-center">
            <a href="#" class="btn btn-outline-primary rounded-3">
              Register now
            </a>
            <span> and try for free</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 d-md-block d-none">
        <xvpn-hero-img></xvpn-hero-img>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'FAQ'" class="row">
      <div class="col-lg-12">
        <div class="slider-content mt-3 mt-md-0 text-center h-140px">
          <h1>
            <span *ngIf="showText1" class="fade-in">FAQ</span>
          </h1>
          <p *ngIf="showText2" class="fade-in">
            For your convenience we’ve collected here answers to the most popular questions from our customers.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'About-Us'" class="row">
      <div class="col-lg-12">
        <div class="slider-content mt-3 mt-md-0 text-center h-140px">
          <h1>
            <span *ngIf="showText1" class="fade-in">About Us</span>
          </h1>
          <p *ngIf="showText2" class="fade-in">
            Our team created project that became the top level Proxy Service in just 1 year.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'Contact-Us'" class="row">
      <div class="col-lg-12">
        <div class="slider-content mt-3 mt-md-0 text-center h-140px">
          <h1>
            <span *ngIf="showText1" class="fade-in">Contacts</span>
          </h1>
          <p *ngIf="showText2" class="fade-in">
            We’re always in touch!
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'White-Label'" class="row">
      <div class="col-lg-7">
        <div class="slider-content mt-3 mt-md-0 h-140px">
          <h1 class="text-start">
            <span *ngIf="showText1" class="text-primary fade-in">white label</span>
          </h1>
          <p *ngIf="showText2" class="text-start fade-in">We offer you the opportunity to quickly
            start a business selling our proxy services under your own brand using the White Label
            model.</p>
        </div>
      </div>
      <div class="col-lg-5 d-lg-block d-none">
        <div class="slider-content mt-3 mt-md-0 slider-map">
          <div class="img-box">
            <img src="assets/images/white_label/header/head_whitelabel.png" alt="head_whitelabel">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'Residential-Proxy'" class="row justify-content-between personal-silder align-items-center">
      <div class="col-lg-7 mt-5">
        <div class="slider-content mt-3 mt-md-0 text-start h-240px justify-content-center">
          <h1>
            <span *ngIf="showText" class="fade-in">Residential proxy from RSocks</span>
          </h1>
          <ul>
            <li *ngIf="showText1" class="fade-in">
              <span class="icon-sm">
                <img src="assets/images/hero/residential_proxy/benefit_1.svg" title="Constant proxy">
              </span>
              Constant proxy lists updates
            </li>
            <li *ngIf="showText2" class="fade-in">
              <span class="icon-sm">
                <img src="assets/images/hero/residential_proxy/benefit_2.svg" title="Real IPs">
              </span>
              Real residential IPs
            </li>
            <li *ngIf="showText3" class="fade-in">
              <span class="icon-sm">
                <img src="assets/images/hero/residential_proxy/benefit_3.svg" title="Supported">
              </span>
              All protocols and programs are supported
            </li>
          </ul>
        </div>
        <a href="#" class="btn btn-outline-primary py-3 px-5 fs-17 fw-bold rounded-3 mt-5">Try it for free</a>
      </div>
      <div class="col-lg-5 position-relative d-lg-block d-none">
        <xvpn-hero-img-scroll></xvpn-hero-img-scroll>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'Personal-Proxy'" class="row personal-silder align-items-center">
      <div class="col-lg-6 mt-5">
        <div class="slider-content mt-3 mt-md-0 text-start h-240px justify-content-center">
          <h1>
            <span *ngIf="showText" class="fade-in">Buy personal proxy</span>
          </h1>
          <ul>
            <li *ngIf="showText1" class="fade-in">
              <span class="icon-sm">
                <fa-icon class="font-icon" [icon]="faLocationPin"></fa-icon>
              </span>
              Static IP for personal use
            </li>
            <li *ngIf="showText2" class="fade-in">
              <span class="icon-sm">
                <fa-icon class="font-icon" [icon]="faClock"></fa-icon>
              </span>
              100% uptime and channel reliability
            </li>
            <li *ngIf="showText3" class="fade-in">
              <span class="icon-sm">
                <fa-icon class="font-icon" [icon]="faClipboard"></fa-icon>
              </span>
              Protocol support: SOCKS4 / 4a, SOCKS5, HTTP (S)
            </li>
          </ul>
        </div>
        <a href="#" class="btn btn-outline-primary py-3 px-5 fw-bold rounded-1 mt-5">Try it now</a>
      </div>
      <div class="col-lg-6 position-relative d-lg-block d-none mt-5">
        <xvpn-hero-img-flags></xvpn-hero-img-flags>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'Shared-Proxy'" class="row">
      <div class="col-lg-6">
        <div class="slider-content mt-3 mt-md-0">
          <h5 *ngIf="showText" class="fade-in">
            Alpha-x Project
          </h5>
          <h2 *ngIf="showText1" class="fade-in mb-3">
            Buy Shared proxy
          </h2>
          <ul class="list-disc list">
            <li *ngIf="showText2" class="fade-in">5 000 - 20 000 IP for only $10 per month</li>
            <li *ngIf="showText3" class="fade-in">More than 50 countries available from all around the world</li>
            <li *ngIf="showText4" class="fade-in">Unlimited traffic</li>
            <li *ngIf="showText5" class="fade-in">Support SOCKS4/4A, SOCKS5, HTTP(S) protocols</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 d-md-block d-none d-flex align-items-center">
        <div class="img-container">
          <img src="assets/images/shared_proxy/shared.svg" alt="shared">
        </div>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'Mobile-Proxy'" class="row personal-silder align-items-center">
      <div class="col-lg-6 mt-5">
        <div class="slider-content mt-3 mt-md-0 text-start h-240px justify-content-center">
          <h1>
            <span *ngIf="showText" class="fade-in">Private mobile proxies</span>
          </h1>
          <ul>
            <li *ngIf="showText1" class="fade-in">
              <span class="icon-sm">
                <img src="assets/images/mobile_proxy/header_slider/banner_feature_1.svg" title="Static IP">
              </span>
              IP changes every 5/10/30 minutes
            </li>
            <li *ngIf="showText2" class="fade-in">
              <span class="icon-sm">
                <img src="assets/images/mobile_proxy/header_slider/banner_feature_2.svg" title="Unlimited traffic">
              </span>
              Unlimited traffic
            </li>
            <li *ngIf="showText3" class="fade-in">
              <span class="icon-sm">
                <img src="assets/images/mobile_proxy/header_slider/banner_feature_3.svg" title="support">
              </span>
              24/7 technical support
            </li>
          </ul>
        </div>
        <a href="#" class="btn btn-outline-primary py-3 px-5 fw-bold rounded-1 mt-5">Try it now</a>
      </div>
      <div class="col-lg-6 position-relative d-lg-block d-none mt-5">
        <xvpn-hero-img-providers></xvpn-hero-img-providers>
      </div>
    </div>
    <div *ngIf="routerLinkActive === 'VPN-Service'" class="row">
      <div class="col-lg-6">
        <div class="slider-content mt-3 mt-md-0">
          <h5>
            <span *ngIf="showText" class="fade-in">Alpha-x Project</span>
          </h5>
          <h3 *ngIf="showText1" class="mb-3 fade-in h-auto">Reliable VPN Service by Alpha-x</h3>
          <ul class="list-disc list">
            <li *ngIf="showText2" class="fade-in">Total security of the data</li>
            <li *ngIf="showText3" class="fade-in">Unlimited bandwidth</li>
            <li *ngIf="showText4" class="fade-in">Support service 24/7</li>
            <li *ngIf="showText5" class="fade-in">Apps for every major platform</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 d-md-block d-none d-flex align-items-center">
        <div class="img-container">
          <img src="assets/images/vpn/Map picks.png" alt="shared">
        </div>
      </div>
    </div>
  </div>
</section>
