.container {
  overflow: visible;
}
.header-bg,
.header-bg::after,
.header-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero,
h2 {
  color: var(--secondary);
}
* {
  font-family: var(--font-family-Waoow);
}
h2 {
  font-size: 38px;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}
.header-bg {
  background-color: var(--light-tertiary);
}
.header-bg::before {
  content: " ";
  background-repeat: repeat-x;
}
.hero,
.hero .btn {
  position: relative;
}
.header-bg::before {
  background-image: url(../../../assets/images/hero/bg.png);
}
.slider-map {
  background: url(../../../assets/images/hero/white_label/maps_beta2.svg) 50%
    50% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  padding: 9rem 0 2rem 0;
  overflow: hidden;
}
.hero li {
  color: var(--secondary);
}

.hero li fa-icon {
  color: var(--primary);
}
.hero .slider-content .list {
  font-size: 0.9rem;
  margin-left: 3rem;
}
.hero .slider-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}
.hero .slider-content h1,
.hero .slider-content h3 {
  font-weight: 700;
  line-height: 53px;
  color: var(--secondary);
  text-transform: capitalize;
  overflow: hidden;
}
.hero .slider-content h3 {
  font-size: 27px;
  height: 10rem;
}
.hero .slider-content h5 {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary);
  margin: 0 0 15px;
}
.hero .slider-content p {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--primary);
  margin: 28px 0;
}
.hero .btn + span {
  display: inline-block;
  margin: 10px;
  color: var(--primary);
}
xvpn-hero-img-scroll {
  display: flex;
  height: 25rem;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero .slider-content h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero .slider-content .button {
    margin-top: 10px !important;
    width: 100%;
  }
  .hero .slider-content h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
  }
  .hero .slider-content p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .hero {
    padding: 110px 0 60px;
  }
  .hero .app-image {
    margin-top: 40px;
  }
  .hero .slider-content .button {
    margin-top: 10px;
    width: 100%;
  }
  .hero .slider-content {
    padding: 0 10px;
  }
  .hero .slider-content h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .hero .slider-content p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
  }
}
.fade-in {
  opacity: 0;
  animation: 1s ease-in-out both fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero .personal-silder .slider-content h1 {
  margin-bottom: 2rem;
}
.hero .personal-silder .slider-content ul {
  color: #eee;
  font-size: 1.2rem;
  font-weight: 600;
}
.hero .personal-silder .slider-content ul span.icon-sm {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.hero .personal-silder .slider-content ul li {
  display: flex;
  margin-bottom: 1.5rem;
}
