$colors: (blue,
          light-blue,
          dark-blue,
        indigo,
        purple,
        pink,
        red,
        orange,
        yellow,
        green,
        soft-green,
        teal,
        cyan,
        white,
        black,
        hov-black,
        soft-black,
        gray,
        dark-gray,
        primary,
        light-primary,
        hov-primary,
        soft-primary,
        secondary,
        hov-secondary,
        soft-secondary,
        tertiary,
        hov-tertiary,
        soft-tertiary,
        success,
        soft-success,
        info,
        soft-info,
        notification,
        warning,
        soft-warning,
        danger,
        soft-danger,
        light,
        hard-light,
        hov-hard-light,
        dark,
        hov-dark,
        soft-dark,
        hov-soft-dark); // Define your array of colors

@each $color in $colors {
  .border-#{$color} {
    border-color: var(--#{$color}) !important;
  }
}
@each $color in $colors {
  .hov-border-#{$color}:hover {
    border-color: var(--#{$color}) !important;
  }
}
