<xvpn-preloader></xvpn-preloader>
<xvpn-offered-services></xvpn-offered-services>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="section-title">
          <h4>Data center proxies from Rsocks</h4>
        </div>
        <div class="section-Paragraph pe-3">
          <p>
            Data center proxies expand the range of RSocks services to cover all customer requests.
          </p>
          <p>
            Despite the fact that some ports (25, 2525, 587, 465, 2526) are closed on these proxy lists, these proxies
            are
            suitable for those tasks where high speed is required for unlimited traffic and maximum channel stability.
          </p>
          <p>
            Our server proxy works on dedicated servers, which assure a stable uptime of 99.9% and the maximum possible
            data transfer speed.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="notification">
          <div class="d-flex align-items-center gap-2 pe-3">
            <span class="icon">
              <img class="size-80px" src="assets/images/server_proxies/free_test.svg" alt="free test">
            </span>
            <span class="fs-16">
              FREE TEST FOR DATA CENTER PROXIES
            </span>
          </div>
          <p class="text-center">
            Every Proxy plan can be requested for a free evaluation. Duration of free access depends on the plan
            selected.
          </p>
          <a class="btn btn-soft-dark-primary">try it for free</a>
        </div>
      </div>
    </div>
  </div>
</section>
<xvpn-data-center></xvpn-data-center>
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-2">
        <div class="d-flex align-items-center gap-2">
          <fa-icon class="fs-16 text-primary" [icon]="faBookBookmark"></fa-icon>
          <h4>Information</h4>
        </div>
      </div>
      <div class="col-md-10">
        <div class="section-Paragraph">
          <p>
            Data center proxies are suitable only for white projects. It is strictly prohibited to violate usage rules
            is strictly prohibited. In case of violation of the rules, the service reserves the right to unilaterally
            terminate the customer service without the possibility of recovery.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let dataCenterFeature of this.dataCenterFeatures" class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="d-flex align-items-center gap-3">
          <div class="icon flex-basis-10">
            <img src="assets/images/server_proxies/features/{{dataCenterFeature.icon}}_{{dataCenterFeature.id}}.png" alt="{{dataCenterFeature.name}}">
          </div>
          <p class="flex-basis-90">
            {{dataCenterFeature.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
