.testimonials {
  padding: 6rem 0;
  background-color: var(--white);
}

.testimonials h4 {
  color: var(--dark);
  margin-bottom: 1.5rem;
}

.testimonials .reviews {
  overflow: hidden;
}

.testimonials-card {
  background-color: var(--light);
  padding: 3rem 1.25rem;
  border-radius: 0.2rem;
  height: auto;
  text-align: center;
  color: var(--dark);
}

.testimonials-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -1rem;
  color: var(--dark);
}

.testimonials-picture .client-name {
  text-transform: capitalize;
}

.testimonials-picture .client-img {
  display: flex;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}

.testimonials-picture .client-img  img {
  border: 0.4rem solid var(--light);
  width: 6rem;

}

.testimonials-picture .client-name,
.testimonials-picture .client-img,
.testimonials-picture .client-date {
  width: 7rem !important;
}

.testimonials .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.testimonials .font-icon {
  text-align: center;
  width: 3rem;
  height: 3rem;
  color: var(--hov-tertiary);
  background-color: var(--white);
  border-radius: 50%;
  border: 0.325rem solid var(--light);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}
