<xvpn-offered-services></xvpn-offered-services>
<section class="pricing-sec">
  <div class="container">
    <div class="row py-5">
      <div *ngFor="let personalPrice of personalPrices" class="col-lg-6 my-3">
        <xvpn-pricing-card [inputList]="personalPrice" [isPricingCard]="true"></xvpn-pricing-card>
      </div>
    </div>
  </div>
</section>
<xvpn-buy-service></xvpn-buy-service>
<section class="individual_request  p-3">
  <div class="container">
    <div class="row my-4">
      <div class="col-lg-12">
        <h4>Individual request</h4>
        <p>
          Haven't found the country you need or the number of addresses is not enough? Order a personal
          consignment of private proxies for your needs!
        </p>
        <ul class="d-md-flex gap-4">
          <li *ngFor="let individualRequest of individualRequests" class="d-flex gap-2">
            <span class="icon-md">
              <img src="assets/images/personal_proxy/individual_request/{{individualRequest.icon}}.svg"
                alt="{{individualRequest.name}}">
            </span>
            <span>{{individualRequest.name}}</span>
          </li>
        </ul>
      </div>
      <div class="col-lg-12 my-4">
        <h5>Try it now!</h5>
        <div class="content-box">
          <div class="form_group">
            <select-option [isCountries]="true" [inputList]="countries"
              imgPath="assets/images/personal_proxy/buy personal proxy/private/"></select-option>
          </div>
          <div class="form_group">
            <input type="number" name="number" value="1" min="1" class="form_control --qty">
            <span class="form-placeholder">
              Qnty: </span>
          </div>
        </div>
        <div class="content-box">
          <div class="form_group">
            <select-option [inputList]="messengerApps"
              imgPath="assets/images/icons/social/" imgType="png"></select-option>
          </div>
          <div class="form_group">
            <input type="text" name="nickname" class="form_control messenger-value"
              placeholder="@Example">
          </div>
        </div>
        <a href="#" class="btn mt-3 px-5">Send request</a>
      </div>
    </div>
  </div>
</section>
