.pricing-sec {
  background-color: var(--white);
  color: var(--dark);
}
.form_group,
.pricing-sec .container {
  position: relative;
}
.pricing-sec h4 {
  display: flex;
  margin: 2rem 0;
}
.buy-personal {
  background-color: var(--tertiary);
  padding-top: 0;
}
.individual_request {
  background-color: var(--secondary);
  text-align: center;
  color: var(--tertiary);
}
.individual_request h1,
.individual_request h5 {
  margin: 0 0 0.9rem;
  color: var(--tertiary);
}
.individual_request p {
  font-size: 14px;
  margin: 0 auto 1.5rem;
  color: var(--hard-tertiary);
  font-weight: 400;
}
.individual_request ul {
  align-items: center;
  justify-content: space-between;
}
.individual_request ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 1rem;
  flex-basis: 16rem;
  text-align: start;
  margin-bottom: 2rem;
}
.individual_request .content-box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.individual_request .select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 17rem;
  margin-right: 1rem;
}
.individual_request .select .icon-sm {
  position: absolute;
  right: 1%;
}
.content-box {
  gap: 1rem;
}
.form_control {
  font-weight: 600;
  width: 100%;
  height: 2.4rem;
  padding: 0 15px;
  color: var(--tertiary);
  border: 0.1em solid var(--soft-secondary);
  border-radius: 3px;
  background-color: var(--hard-secondary);
}
.form_control.--qty {
  padding-left: 70px;
}
.form-placeholder {
  font-size: 13px;
  position: absolute;
  top: 9px;
  left: 16px;
  color: #7e8b9e;
}
.service-props {
  background-color: var(--light-secondary);
  color: var(--tertiary);
}
.service-props h4,
.service-props h5 {
  color: var(--tertiary);
}
.service-props p {
  color: var(--tertiary);
}
.service-props ul li .icon {
  border: 0.1rem solid var(--soft-secondary);
  background-color: var(--hov-secondary);
}
