/** personal-proxy **/

.pricing-sec {
  background-color: #f5f5f5;
  color: #111;
}

.pricing-sec .container {
  position: relative;
}

.pricing-sec h4 {
  display: flex;
  margin: 2rem 0rem;
}

/** individual request **/
.individual_request {
  background-color: #1F2B3A;
  text-align: center;
  color: #f5f5f5;
}

.individual_request h4,
.individual_request h5 {
  color: #f5f5f5;
  margin: 0;
  margin-bottom: 0.9rem;
}

.individual_request p {
  width: 55%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  color: #F4F7FA;
}

.individual_request ul {
  align-items: center;
  justify-content: center;
}

.individual_request ul li {
  display: flex;
  align-items: center;
  flex-basis: 16rem;
  text-align: start;
  margin-bottom: 2rem;
}

.individual_request .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.individual_request .select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 17rem;
  margin-right: 1rem;
}


.individual_request .select .icon-sm {
  position: absolute;
  right: 1%;
}

.individual_request .select-dark {
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: 0.1em solid #3c4c6461;
  background-color: #171d28;
  color: #fff;
}

.individual_request .select-dark:focus-visible {
  outline: none;
  box-shadow: 0 0 1px 0.1em #3c4c640f;
}

.form_group {
  position: relative;
  flex-basis: 15rem;
}

.form_control {
  font-weight: 600;
  width: 100%;
  height: 2.4rem;
  padding: 0 15px;
  color: #fff;
  border: 0.1em solid #3c4c6461;
  border-radius: 3px;
  background: #171d28;
}

.form_control.--qty {
  padding-left: 70px;
}

.form__qty-placeholder {
  font-size: 13px;
  position: absolute;
  top: 9px;
  left: 16px;
  color: #7e8b9e;
}

/**About**/

.About {
  background-color: #222c3a;
  text-align: start;
  color: #f5f5f5;
}

.About h4,
.About h5 {
  color: #f5f5f5;
  margin: 0;
  margin-bottom: 3rem;
}

.About p {
  padding: 0px 15rem;
  margin-bottom: 1.5rem;
}

.About ul {
  padding: 0;
}

.About ul li {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.About ul li .icon-lg {
  border: 0.1rem solid #3c4c648c;
  border-radius: 50%;
  padding: 0.8rem;
  background-color: #1F2B3A;
}

/**Prefooter**/

.questions {
  color: #414141;
  background-color: #f5f5f5;
}

.questions h4 {
  text-align: center;
  color: #414141;
  margin: 0;
  margin-bottom: 0.9rem;
}

.openable {
  background-color: #fff;
  height: 3.5rem;
  max-height: fit-content;
  overflow: hidden;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #ededed;
  margin-bottom: 1rem;
  -webkit-transition: height 0.5s;
  -o-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
}

.openable h6 {
  color: #414141;
  cursor: pointer;
}

.openable h6 .icon-sm {
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.openable p {
  font-size: 0.85rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/**Prefooter**/

.prefooter {
  text-align: center;
  color: #f5f5f5;
  background: center -33%/78.1% 153% no-repeat url(../../assets/images/personal_proxy/Prefooter/Prefooter.svg), #283446;
}

.prefooter h4 {
  color: #f5f5f5;
  margin: 0;
  margin-bottom: 0.9rem;
}

.prefooter p {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 55%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #F4F7FA;
}
