.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--hov-tertiary);
  position: relative;
}

.footer * {
  color: var(--secondary);
}

.footer i {
  color: var(--white);
}

.footer a {
  color: var(--primary);
  font-weight: 600;
}

.footer a:hover {
  color: var(--hov-primary);
}

.footer .single-footer.payment-methods ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .single-footer.payment-methods ul li {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.8rem;
  border: 0.1rem solid var(--hov-soft-dark);
  border-radius: 0.2rem;
  background-color: var(--white);
}


.footer .single-footer.f-about {
  padding-right: 30px;
}

.footer .single-footer.f-about .logo img {
  width: 140px;
}

.footer .single-footer.f-about p,
.footer .single-footer.newsletter p {
  margin-top: 20px;
  font-size: 15px;
}

.footer .single-footer.f-about .copyright-text {
  font-size: 15px;
  margin-top: 40px;
}

.footer .single-footer.f-about .copyright-text span {
  display: block;
}

.footer .single-footer.f-link ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .single-footer.f-link li {
  display: block;
  margin-bottom: 12px;
}

.footer .single-footer.f-link li:last-child {
  margin: 0;
}

.footer .single-footer h3 {
  font-size: 17px;
  font-weight: 600;
  display: block;
  margin: 1rem 0rem;
}
