<footer class="footer">
  <!-- Start Footer Top -->
  <div class="footer-top">
    <div class="container">
      <hr class="my-5" />
      <div class="inner-content">
        <div class="row">
          <div class="col-md-7">
            <!-- Single Widget -->
            <div class="single-footer f-about">
              <div class="logo">
                <a href="index.html">
                  <img src="assets/images/logo/logo.png" alt="#">
                </a>
              </div>
              <p class="copyright-text">
                <span>
                  All rights reserved© 2023 Alpha-x.
                </span>Designed by
                 <a class="transition-3" href="https://github.com/MrWaoow?tab=repositories" rel="noopener" target="_blank">Mr. Waoow</a>
              </p>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-md-5">
            <!-- Single Widget -->
            <div class="single-footer payment-methods">
              <h3>Payment Methods</h3>
              <ul>
                <li>
                  <span class="icon-sm">
                    <img src="assets/images/footer/Payment Methods/1. webmoney.svg" alt="">
                  </span>
                </li>
                <li>
                  <span class="icon-sm">
                    <img src="assets/images/footer/Payment Methods/2. visa.svg" alt="">
                  </span>
                </li>
                <li>
                  <span class="icon-sm">
                    <img src="assets/images/footer/Payment Methods/3. mastercard.svg" alt="">
                  </span>
                </li>
                <li>
                  <span class="icon-sm">
                    <img src="assets/images/footer/Payment Methods/4. mir.svg" alt="">
                  </span>
                </li>
                <li>
                  <span class="icon-sm">
                    <img src="assets/images/footer/Payment Methods/5. bitcoin.svg" alt="">
                  </span>
                </li>
                <li>
                  <span class="icon-sm">
                    <img src="assets/images/footer/Payment Methods/6. ethereum.svg" alt="">
                  </span>
                </li>
                <li>
                  <span class="icon-sm">
                    <img src="assets/images/footer/Payment Methods/7. ch.svg" alt="">
                  </span>
                </li>
              </ul>
            </div>
            <!-- End Single Widget -->

            <!-- Single Widget -->
            <div class="single-footer f-link">
              <h3>Contact</h3>
              <ul>
                <li>Jabber: <a class="transition-3" href="javascript:void(0)">support&#64;alpha-x.net</a></li>
                <li>Telegram: <a class="transition-3" href="javascript:void(0)">&#64;alpha-x</a></li>
                <li>Skype: <a class="transition-3" href="javascript:void(0)">alpha-x.net</a></li>
                <li>ICQ: 560335</li>
              </ul>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->
</footer>
