<xvpn-preloader></xvpn-preloader>
<xvpn-offered-services></xvpn-offered-services>
<section>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/mobile_proxy/unlimited/cloud.svg" alt="logo" class="img-fluid">
      </div>
      <div class="col-10 d-flex flex-column gap-3">
        <h4>
          Unlimited mobile proxies
        </h4>
        <p>
          Even though there are millions of mobile broadband users, MNO's IP addresses range is very limited. That’s why
          tracking
          and blocking systems cautiously verify mobile IP addresses because a recklessly blocked address can lead to
          blocking of
          a thousand users.
        </p>
        <p class="fw-600">
          Alpha-X presents its new private and unlimited 3G/4G proxies with rotating IP address for every 5, 10 and 30
          minutes.
        </p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let feature of unlimitedFeatures" class="col-lg-3 col-6">
        <div class="features-box">
          <span>
            {{ feature }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="buy-mobile">
  <xvpn-buy-service class="mb-5" [isMobile]="isMobile" [title]="title"></xvpn-buy-service>
  <div class="container">
    <div class="row mt-5">
      <h4>
        Proxies work with all the major services
      </h4>
      <div *ngFor="let majorService of this.majorServices" class="col-6 col-sm-3 col-lg mt-4">
        <div class="box-img">
          <img src="assets/images/mobile_proxy/major_services/{{ majorService.icon }}.svg" alt="{{majorService.name}}">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="private-rent">
  <div class="container">
    <div class="row mt-4 justify-content-between">
      <div class="col-md-7 mb-md-0 pb-md-0 mb-5 pb-5">
        <h1>
          Private rent of a device
        </h1>
        <p class="pt-2">
          Get a private proxy at your disposal, fully customized to your requirements
        </p>
        <div class="row">
          <div *ngFor="let feature of this.privateRentFeatures" class="col-6 mt-4 gap-3 d-flex align-items-center">
            <div class="icon-md">
              <img src="assets/images/mobile_proxy/private_rent_features/{{feature.icon}}.svg" alt="{{feature.name}}">
            </div>
            <p class="description">
              {{feature.description}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="try-now">
          <h6>Try it now!</h6>
          <div class="form_group">
            <select-option [isCountries]="true" [inputList]="countries"
              imgPath="assets/lib/flag_icons_main/flags/4x3/"></select-option>
          </div>
          <div class="form_group">
            <input type="number" name="number" value="1" min="1" class="form_control --qty">
            <span class="form-placeholder">
              Qnty: </span>
          </div>
          <div class="form_group">
            <select-option [inputList]="messengerApps" imgPath="assets/images/icons/social/"
              imgType="png"></select-option>
          </div>
          <div class="form_group">
            <input type="text" name="nickname" class="form_control messenger-value" placeholder="@Example">
          </div>
          <a href="#" class="btn btn-primary mt-3 fs-15 fw-600 py-2">Send request</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start Service Props Area -->
<section class="service-props">
  <div class="container">
    <div class="row my-4">
      <div class="col-lg-12">
        <h4 class="line-after">
          <span>
            Mobile proxies will be the best choice for:
          </span>
        </h4>
        <ul class="row">
          <li *ngFor="let proxyProps of this.mobileProxiesProps" class="col-md-6 mb-3 gap-3">
            <span class="icon">
              <img class="icon-img-md" src="assets/images/mobile_proxy/mobile_proxies/{{proxyProps.icon}}-{{proxyProps.id}}.svg" title="{{proxyProps.name}}"
                alt="{{proxyProps.name}}">
            </span>
            <div class="content-box">
              <span class="fw-bold mb-1 text-uppercase">
                {{proxyProps.name}}
              </span>
              <br>
              <p>
                {{proxyProps.description}}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Service Props Area -->
<!-- Start Service Asked Questions Area -->
<section class="service-asked-questions">
  <div class="container">
    <div class="row my-4">
      <div>
        <h4>Frequently asked questions</h4>
      </div>
      <div class="col-lg-12">
        <div *ngFor="let frequentlyAske of frequentlyAskes" class="openable">
          <h6 (click)="this.openDiv($event)" class="d-flex justify-content-between">
            <span>{{frequentlyAske.question}}</span>
            <span class="icon-sm"><fa-icon [icon]='faCaretDown'></fa-icon></span>
          </h6>
          <p>
            {{frequentlyAske.answers}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service Asked Questions Area -->
<!-- Start Service Prefooter Area -->
<section class="service-prefooter">
  <div class="container">
    <div class="row my-4">
      <div>
        <h4>Interested?</h4>
      </div>
      <div class="col-lg-12">
        <p class="w-sm-55">
          Check the quality of high-end mobile IPs by RSocks ASAP
        </p>
      </div>
      <div class="col-lg-12">
        <a href="#" class="btn btn-primary mt-3 mb-1">Get proxies</a>
        <br>
        <span class="opacity-70 fs-12 fw-400">Start your free trial period now!</span>
      </div>
    </div>
  </div>
</section>
<!-- End Service Prefooter Area -->
