p {
  font-size: 16px;
}

.features-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--tertiary);
  border: 1px solid var(--hard-tertiary);
  border-radius: 5px;
  font-size: 22px;
  color: var(--hardest-quaternary);
  font-weight: 700;
}

.buy-mobile {
  padding-top: 0;
}

.buy-mobile h4 {
  text-align: center;
}

.box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  min-height: 3.5rem;
  border: 1px solid var(--soft-quaternary);
  border-radius: 5px;
}

.private-rent {
  position: relative;
  background-color: var(--hov-secondary);
  color: var(--tertiary);
}

.private-rent::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 100%;
  z-index: 0;
  background-color: var(--secondary);
}

.private-rent h1 {
  font-size: 60px;
  color: var(--tertiary);
  font-weight: 700;
}

.private-rent p {
  font-size: 14px;
  color: var(--hard-tertiary);
  opacity: 0.8;
}

.private-rent p.description {
  color: var(--tertiary);
  opacity: 1;
}

.try-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.try-now h6 {
  color: var(--tertiary);
  position: relative;
  z-index: 1;
}

.form_group {
  position: relative;
}

.form_control {
  font-weight: 600;
  width: 100%;
  height: 2.4rem;
  padding: 0 15px;
  color: var(--tertiary);
  border: 0.1em solid var(--soft-secondary);
  border-radius: 3px;
  background-color: var(--hard-secondary);
}

.form_control.--qty {
  padding-left: 70px;
}

.form-placeholder {
  font-size: 13px;
  position: absolute;
  top: 9px;
  left: 16px;
  color: #7e8b9e;
}

.private-rent .try-now .btn {
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .private-rent::before {
    width: 100%;
    height: 47%;
    top: auto;
    bottom: 0;
  }
}
